<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'vista_home' %}">CMS Logística</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'view_logistics' %}"><span class="glyphicon glyphicon-home"></span></a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Suministros <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'view_supply_pending' %}">Suministros Pendientes</a></li>
            <li><a href="{% url 'view_convert_supply' %}">Suministros Aprobados</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cotización <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'view_quote_list' %}">Cotización and Keys</a></li>
          </ul>
        </li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Inventario<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Inventario</li>
            <li><a href="{% url 'vista_inventory' %}">Inventario</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'vista_supply' %}">Suministro</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimientos <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'vista_project' %}">Proyectos</a></li>
            <li><a href="{% url 'vista_stores' %}">Almacenes</a></li>
            <li><a href="{% url 'vista_customers' %}">Clientes</a></li>
            <li><a href="{% url 'vista_carrier' %}">Transportista</a></li>
            <li class="divider"></li>
            <li><a href="#">Empleados</a></li>
          </ul>
        </li>-->
        <li><a href="#">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{user.first_name}}, {{user.last_name}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a>Cargo: {{user.get_profile.cargo.cargos}}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'vista_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Cerrar Session</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- navbar-collapse -->
  </div><!-- container-fluid -->
</nav>