{% extends "basemd.html" %}
{% block title %}
  Comparar
{% endblock title %}
{% block menu %}
  {% if user.get_profile.empdni.charge.area|lower == 'ventas' or user.get_profile.empdni.charge.area|lower == 'administrator' %}
    {% include "menus/salesmd.html" %}
  {% endif %}
  {% if user.get_profile.empdni.charge.area|lower == 'logistica' %}
    {% include "menus/logisticsmd.htm" %}
  {% endif %}
  {% if user.get_profile.empdni.charge.area|lower == 'operaciones' %}
    {% include "menus/operationsmd.htm" %}
  {% endif %}
  {% if user.get_profile.empdni.charge.area|lower == 'almacen' %}
    {% include "menus/storagemd.htm" %}
  {% endif %}
{% endblock menu %}
{% block content %}
{% if request.user.get_profile.empdni.charge.area|lower == 'administrator' or request.user.get_profile.empdni.charge.area|lower == 'ventas' %}
  <div class="card card-panel">
    <div class="card-content">
      <strong>{{currency}}</strong>
      <div class="row">
        <div class="col l3">
          <div class="center-align">
            <h5>Aprox.</h5>
            <h4><small>{{symbol}} {{salesap|floatformat:2}}</small></h4>
          </div>
        </div>
        <div class="col l3">
          <div class="center-align">
            <h5>Ventas</h5>
            <h4><small>{{symbol}} {{sales|floatformat:2}}</small></h4>
          </div>
        </div>
        <div class="col l3">
          <div class="center-align">
            <h5>Operaciones</h5>
            <h4><small>{{symbol}} {{operations|floatformat:2}}</small></h4>
          </div>
        </div>
        <div class="col l3">
          <div class="center-align">
            <h5>Diferencia</h5>
            <h4><small>{{symbol}} {{diff|floatformat:2}}</small></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<table class="table responsive-table highlight">
	<thead>
		<tr>
			<th></th>
			<th>Codigo</th>
			<th>Descripcion</th>
			<th>Marca</th>
			<th>Model</th>
      <th>P. Compra</th>
			<th>Ventas</th>
			<th>Operaciones</th>
		</tr>
	</thead>
	<tbody>
		{% for x in lst|dictsort:"name" %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{x.materials}}</td>
				<td>{{x.name}}</td>
				<td>{{x.brand}}</td>
				<td>{{x.model}}</td>
        <td class="right-align">{{x.purchase}}</td>
				<th class="right-align">{{x.sales|safe}}</th>
				<th class="right-align">{{x.operations|safe}}</th>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}