{% extends "basemd.html" %}
{% block title %}
  Comparar Sector
{% endblock title %}
{% block menu %}
  {% if user.get_profile.empdni.charge.area|lower == 'ventas' or user.get_profile.empdni.charge.area|lower == 'administrator' %}
    {% include "menus/salesmd.html" %}
  {% endif %}
  {% if user.get_profile.empdni.charge.area|lower == 'logistica' %}
    {% include "menus/logisticsmd.htm" %}
  {% endif %}
  {% if user.get_profile.empdni.charge.area|lower == 'operaciones' %}
    {% include "menus/operationsmd.htm" %}
  {% endif %}
  {% if user.get_profile.empdni.charge.area|lower == 'almacen' %}
    {% include "menus/storagemd.htm" %}
  {% endif %}
{% endblock menu %}
{% block content %}
<section ng-app="compareApp" ng-controller="ctrl">
{% if request.user.get_profile.empdni.charge.area|lower == 'administrator' or request.user.get_profile.empdni.charge.area|lower == 'ventas' %}
  <div class="card card-panel">
    {% verbatim %}
      <div class="card-content">
        <strong>{{currency}}</strong>
        <div class="row">
          <div class="col l3">
            <div class="center-align">
              <h5>Aprox.</h5>
              <h4><small>{{symbol}} {{salesap|number:2}}</small></h4>
            </div>
          </div>
          <div class="col l3">
            <div class="center-align">
              <h5>Ventas</h5>
              <h4><small>{{symbol}} {{sales|number:2}}</small></h4>
            </div>
          </div>
          <div class="col l3">
            <div class="center-align">
              <h5>Operaciones</h5>
              <h4><small>{{symbol}} {{operations|number:2}}</small></h4>
            </div>
          </div>
          <div class="col l3">
            <div class="center-align">
              <h5>Diferencia</h5>
              <h4><small>{{symbol}} {{diff|number:2}}</small></h4>
            </div>
          </div>
        </div>
      </div>
    {% endverbatim %}
  </div>
  <div class="card">
    <div class="card-content right-align">
      <button type="button" class="btn waves waves-effect grey lighten-5 grey-text text-darken-3" ng-click="exportData()">
        <i class="fa fa-file-excel-o"></i>
        Exportar Datos
      </button>
    </div>
  </div>
{% endif %}
  <table class="table responsive-table highlight">
    <thead style="border: 1px solid black;">
      <tr style="border: 1px solid black;">
        <th colspan="6">
          <div class="input-field">
            <i class="fa fa-search prefix"></i>
            <input type="text" ng-model="search">
            <label for="icon_prefix">Buscar ...</label>
          </div>
        </th>
        <th style="border: 1px solid black;" class="center-align" colspan="2">PRECIOS</th>
        <th style="border: 1px solid black;" class="center-align" colspan="2">CANTIDADES</th>
        <th class="center-align">
          <button type="button" class="btn-flat waves-effect waves-teal" ng-click="loadList()">
            <i class="fa fa-refresh"></i>
          </button>
        </th>
      </tr>
      <tr>
        <th></th>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Marca</th>
        <th>Model</th>
        <th>Unidad</th>
        <th style="border: 1px solid black;" class="center-align">P.C</th>
        <th style="border: 1px solid black;" class="center-align">P.V</th>
        <th style="border: 1px solid black;" class="center-align">Ventas</th>
        <th style="border: 1px solid black;" class="center-align">Operaciones</th>
        <th style="border: 1px solid black;">Importe</th>
      </tr>
      <tr ng-model="loader" ng-init="loader=false" ng-hide="loader">
        <th colspan="11">
          <div class="progress light-blue accent-1">
            <div class="indeterminate light-blue darken-4"></div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {#% for x in lst | dictsort:"name" %#}
      {% verbatim %}
         <tr ng-repeat="x in list | orderBy: 'name' | filter: search" ng-dblclick="openEdit($event)">
            <td>
              {{$index + 1}}
              <input type="hidden" data-brand="{{x.brand_id}}" data-model="{{x.model_id}}">
            </td>
            <td>{{x.materials}}</td>
            <td>{{x.name}}</td>
            <td>{{x.brand}}</td>
            <td>{{x.model}}</td>
            <td class="center-align">{{x.unit}}</td>
            <td class="center-align">{{x.purchase|number:2}}</td>
            <td class="center-align">{{x.psales|number:2}}</td>
            <th class="center-align">{{x.sales|number:2}}</th>
            <th class="center-align">{{x.operations|number:2}}</th>
            <th>{{x.amount|number:2}}</th>
          </tr>
      {% endverbatim %}
      {#% endfor %#}
    </tbody>
  </table>
  <div id="medit" class="modal">
    <div class="modal-content">
      {% verbatim %}
      <h5>Editar Material</h5>
      <h5>
        {{ename}} - {{eunit}}
      </h5>
      <table class="table responsive-table highlight">
        <tbody>
          <tr>
            <th>
              <!--<div class="input-field ">-->
                <label for="">Marca</label>
                <select class="browser-default" ng-model="ebrand" ng-options="x.id as x.name for x in brand" ng-change="lmodel()">
                  <option value="">--Seleccione--</option>
                </select>
              <!--</div>-->
            </th>
            <th>
              <!--<div class="input-field ">-->
                <label for="">Modelo</label>
                <select class="browser-default" ng-model="emodel" ng-options="x.id as x.name for x in model">
                  <option value="">--Seleccione--</option>
                </select>
              <!--</div>-->
            </th>
            <th>
              <div class="input-field ">
                <input type="text" ng-model="eprice" value="{{eprice}}">
                <label for="input" ng-class="{'active': eprice}">Precio de Compra</label>
              </div>
            </th>
            <th>
              <div class="input-field ">
                <input type="text" ng-model="esales" value="{{esales}}">
                <label for="input" ng-class="{'active': esales}">Precio de Venta</label>
              </div>
            </th>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              <button class="btn" type="button" ng-click="openaBrand()">Marca</button>
              <button class="btn" type="button" ng-click="openaModel()">Modelo</button>
            </th>
          </tr>
        </tfoot>
      </table>
      {% endverbatim %}
    </div>
    <div class="modal-footer">
      {% verbatim %}
        <button type="button" class="btn" value="{{ematc}}" data-obrand="{{obrand}}" data-omodel="omodel" ng-click="saveChange()">Guardar Cambios</button>
        <button type="button" class="waves-effect waves-green btn-flat" onClick="$('#medit').closeModal()">
          Salir
        </button>
      {% endverbatim %}
    </div>
  </div>
  {% verbatim %}
    <div id="mbrand" class="modal">
      <div class="modal-content">
        <h5>Marca</h5>
        <div class="input-field">
          <input type="text" ng-model="nbrand">
          <label for="">Marca</label>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn grey lighten-5 grey-text text-darken-3" ng-click="closeBrand()">Salir</button>
        <button type="button" class="btn grey-text text-lighten-5 light-blue accent-4" ng-click="saveBrand()">Guardar</button>
      </div>
    </div>
    <div id="mmodel" class="modal">
      <div class="modal-content">
        <h5>Modelo</h5>
        <div class="row">
          <div class="col l6">
            <div class="">
              <label>Marca</label>
              <select class="browser-default" ng-model="sbrand" ng-options="x.pk as x.fields.brand for x in vbrand"></select>
            </div>
          </div>
          <div class="col l6">
            <div class="input-field">
              <input type="text" ng-model="nmodel">
              <label for="">Modelo</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn grey lighten-5 grey-text text-darken-3" ng-click="closeModel()">Salir</button>
        <button type="button" class="btn grey-text text-lighten-5 light-blue accent-4" ng-click="saveModel()">Guardar</button>
      </div>
    </div>
  {% endverbatim %}
</section>
<script src="{{ MEDIA_URL }}vendor/angular/angular.min.js"></script>
<script src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/operations/comparelist.js"></script>
<!--<script type="text/javascript" src="{{ MEDIA_URL }}js/operations/factory/DSMetrado.js"></script>-->
{% endblock content %}