{% extends "basemd.html" %}
{% block title %}
  Área Sector
{% endblock title %}
{% block menu %}
    {% if user.get_profile.empdni.charge.area|lower == 'ventas' or user.get_profile.empdni.charge.area|lower == 'administrator' %}
        {% include "menus/salesmd.html" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'logistica' %}
        {% include "menus/logistics.htm" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'operaciones' %}
        {% include "menus/operations.htm" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'almacen' %}
        {% include "menus/storage_menu.htm" %}
    {% endif %}
{% endblock menu %}
{% block content %}
<div ng-app="dsApp" ng-controller="DSCtrl">
    <div class="card-panel" style="background: {{ dsector.sgroup.colour }};">
        <div class="card-content">
            <a  href="{% url 'sectorgroup_view' dsector.sgroup.project_id dsector.sgroup.subproject_id dsector.sgroup.sector_id %}" class="btn grey lighten-5 grey-text text-darken-3"><i class="fa fa-chevron-left"></i> REGRESAR</a>
            <h4>
                ÁREA {{ dsector.name }} {{ dsector.dsector_id }}
                <br>
                <small>
                    GRUPO {{ dsector.sgroup.name }} {{ dsector.sgroup_id }}
                </small>
            </h4>
            <div class="card-content">
                <h5>
                    <small><strong>Tiempo Estimado:</strong> {{ dsector.datestart }} <strong>al </strong> {{ dsector.dateend }}</small>
                    <small>
                        <p>
                        <strong>Descripción: </strong>
                            {{ dsector.description }}
                        </p>
                    </small>
                </h5>
                {% if dsector.plane %}
                    <iframe class="materialboxed" src="{{ MEDIA_URL }}{{dsector.plane}}#zoom=0&toolbar=1&navpanes=0" type="application/pdf">
                        <i class="fa fa-zoom"></i>
                    </iframe>
                {% endif %}
            </div>
            <div class="card-action">
                <div class="center-align">
                    <span class="label-progress">%</span>
                    <div class="progress light-blue accent-2">
                        <div class="determinate light-blue accent-4 percent-progress"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="card">
        <div class="card-action">
            {% if dsector.status == 'PE' %}
                <button type="button" class="btn amber accent-2 grey-text text-darken-3" ng-click="gui.smat=!gui.smat">
                    <i class="fa fa-plus"></i>
                    <span class="hide-on-med-and-down">Agregar</span>
                </button>
                <button type="button" class="btn amber accent-2 grey-text text-darken-3 waves-effect modal-trigger" data-target="mpcopy">
                    <i class="fa fa-clone"></i>
                    <span class="hide-on-med-and-down">Copiar Lista</span>
                </button>
                <button type="button" class="btn amber accent-2 grey-text text-darken-3" ng-click="delAreaMA()">
                    <i class="fa fa-trash"></i>
                    <span class="hide-on-med-and-down">Eliminar Todo</span>
                </button>
                <button type="button" class="btn amber accent-2 grey-text text-darken-3 modal-trigger" data-target="mfileup">
                    <i class="fa fa-file-excel-o"></i>
                    <span class="hide-on-med-and-down">Cargar Archivo</span>
                </button>
            {% endif %}
        </div>
        <div class="card-content" ng-model="gui.pac" ng-init="gui.pac=false" ng-show="gui.pac">

        </div>
        <div class="card-content" ng-model="gui.smat" ng-init="gui.smat=false" ng-show="gui.smat">
            <div class="row">
                <div class="col l12">
                    <div class="col l6 m6 s12 input-field">
                        <input type="text" name="description">
                        <label>Descripción</label>
                        <ul id="matname-global" class="matname-global"></ul>
                    </div>
                    <div class="col l6 m6 s12 input-field">
                        <label ng-class="{'active': mat.measure != ''}">Medida</label>
                        <select name="meter" class="browser-default" ng-model="mat.measure">
                            <option value="" disabled selected></option>
                        </select>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="col l6 m6 s12 input-field">
                        <input type="text" maxlength="15" name="code" ng-model="mat.code">
                        <label ng-class="{'active': mat.code}">Código</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input ng-value="" type="number" min="0" id="cantidad" name="cantidad" ng-model="mat.quantity" ng-init="mat.quantity=0" class="validate">
                        <label class="active" for="cantidad">Cantidad / Metrado</label>
                    </div>
                    {% verbatim %}
                        <div class="input-field col l6 m6 s12">
                            <input type="number" ng-model="mat.ppurchase" ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/" step="0.001" min="0" id="precio" name="precio" list="lstpurchase" class="validate">
                            <datalist id="lstpurchase"></datalist>
                            <label class="active" for="precio">Precio Compra</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input type="number" ng-model="mat.psales" ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/" step="0.001" min="0" id="sales" name="sales" list="lstsales" class="validate">
                            <datalist id="lstsales"></datalist>
                            <label class="active" for="sales">Precio Venta</label>
                        </div>
                        <div class="col l6 m6 s12 input-field">
                            <label class="active">Marca</label>
                            <select class="browser-default" name="brand">
                            </select>
                        </div>
                        <div class="col l6 m6 s12 input-field">
                            <label class="active">Modelo</label>
                            <select class="browser-default" name="model">
                            </select>
                        </div>
                    {% endverbatim %}
                    <div class="col l12 m12 s12 right-align">
                        <br>
                        <span class="left-align">
                            El precio del proyecto esta expresado en {{ dsector.sgroup.project.currency.moneda }}
                        </span>
                        <button type="button" class="btn light-blue darken-2" ng-click="saveMateial()">
                            <i class="fa fa-floppy-o"></i>
                            <span class="hide-on-med-and-down">GUARDAR</span>
                        </button>
                    </div>
                    {# <div class="col l6 m6 s6"></div> #}
                </div>
                <div class="col l6 m6 s12">
                    <table class="table responsive-table tb-details">
                        <caption><strong>Resumén</strong></caption>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l12">
            {% verbatim %}
                <script type="text/ng-template" id="areatmp.html">
                    <td class="center-align">{{$index + 1}}</td>
                    <td class="center-align text-9">{{x.fields.materials.pk}}</td>
                    <td>{{x.fields.materials.fields.matnom}} {{x.fields.materials.fields.matmed}}</td>
                    <td class="center-align">{{x.fields.brand.fields.brand}}</td>
                    <td class="center-align">{{x.fields.model.fields.model}}</td>
                    <td class="center-align">{{x.fields.materials.fields.unidad}}</td>
                    <td class="right-align">{{x.fields.quantity}}</td>
                    <td class="right-align">{{x.fields.qorder}}</td>
                    <td class="right-align">{{x.fields.qguide}}</td>
                    <td class="right-align">{{x.fields.ppurchase}}</td>
                    <td class="right-align">{{x.fields.psales}}</td>
                    <td class="right-align">{{x.fields.quantity * x.fields.ppurchase | number:2}}</td>
                    <td class="center-align">
                        <a href="#" class="dropdown-button btn waves-effect waves-light grey lighten-5 grey-text text-darken-3" data-constrainwidth="200" data-activates="ba{{x.fields.materials.pk}}">
                          <i class="fa fa-cog"></i>
                        </a>
                        <ul id="ba{{x.fields.materials.pk}}" class="dropdown-content">
                          <li><a href="#!" style="padding: 2px 0px 2px 3px;" ng-click="" class="waves-effect waves-light light-blue-text text-darken-3"><small><i class="fa fa-edit"></i> Editar</small></a></li>
                          <li class="divider"></li>
                          <li><a href="#!" style="padding: 2px 0px 2px 3px;" class="waves-effect waves-light red-text text-darken-1"><small><i class="fa fa-trash"></i> Eliminar</small></a></li>
                          <li class="divider"></li>
                          <li><a href="#!" style="padding: 2px 0px 2px 3px;" ng-click="" class="waves-effect waves-light grey-text text-darken-3"><small><i class="fa fa-i-cursor"></i> Observación</small></a></li>
                          <li class="divider"></li>
                          <li><a href="#!" style="padding: 2px 0px 2px 3px;" ng-click="availableNipple()" class="waves-effect waves-light grey-text text-darken-3"><small><i class="fa fa-pause fa-rotate-90"></i> Niple</small></a></li>
                        </ul>
                    </td>
                </script>
            {% endverbatim %}
            <table class="table responsive-table floatThead table-withoutApproved">
                <caption ng-show="fmatwoa">
                    <div class="input-field">
                        <i class="prefix fa fa-filter"></i>
                        <input type="text" ng-model="finmwoa">
                        <label>Buscar material</label>
                    </div>
                </caption>
                <thead class="amber lighten-4">
                    <tr>
                        <th class="center-align">
                            <i class="fa fa-angle-double-up cursor-hand" onClick="$('html,body').animate({scrollTop:500},400);"></i>
                        </th>
                        <th class="center-align">Código</th>
                        <th>Descripción</th>
                        <th class="center-align">Marca</th>
                        <th class="center-align">Modelo</th>
                        <th class="center-align">Unidad</th>
                        <th class="right-align">Vendido</th>
                        <th class="right-align">Pendiente</th>
                        <th class="right-align">Enviada</th>
                        <th class="right-align">Compra</th>
                        <th class="right-align">Venta</th>
                        <th>C. Importe</th>
                        <th class="center-align"><i class="fa fa-search cursor-hand" ng-model="fmatwoa" ng-click="fmatwoa=!fmatwoa"></i></th>
                    </tr>
                </thead>
                <tbody>
                {% verbatim %}
                    <tr ng-include src="'areatmp.html'" ng-repeat="x in dsmaterials | filter: finmwoa" class="text-12"></tr>
                {% endverbatim %}
                </tbody>
            </table>
            <h4 ng-show="snipple">Niple</h4>
            <ul class="collapsible popout" data-collapsible="accordion">
            {% verbatim %}
                <li ng-repeat="x in dsmaterials" ng-if="x.fields.nipple == true">
                    <div class="collapsible-header" ng-click="listNipple()">
                        <i class="fa fa-pause fa-rotate-90"></i> {{x.fields.materials.fields.matnom}} {{x.fields.materials.fields.matmed}}
                        <div class="chip right yellow accent-1">
                            Total <span class="to{{x.fields.materials.pk}}">{{x.fields.quantity}}</span> {{x.fields.materials.fields.unidad}}
                        </div>
                        <div class="chip right yellow accent-1">
                            Ingresado
                            <span class="co{{x.fields.materials.pk}}"></span> cm
                        </div>
                        <div class="chip right yellow accent-1">
                            Disponible
                            <span class="dis{{x.fields.materials.pk}}"></span> cm
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="card">
                            <div class="card-actiona">
                                <div class="row">
                                    <div class="col l2">
                                        <br>
                                        <button type="button" class="btn waves-effect grey lighten-5 grey-text text-darken-3 sdnip{{x.fields.materials.pk}}" ng-model="sdnip[x.fields.materials.pk]" ng-click="sdnip[x.fields.materials.pk]=!sdnip[x.fields.materials.pk]">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <button type="button" class="btn waves-effect grey lighten-5 grey-text text-darken-3 rf{{x.fields.materials.pk}}" ng-click="listNipple()" data-materials="{{x.fields.materials.pk}}">
                                            <i class="fa fa-refresh"></i>
                                        </button>
                                    </div>
                                    <div class="col l2 input-field" ng-show="sdnip[x.fields.materials.pk]">
                                        <input type="number" class="right-align" id="nipple{{x.fields.materials.pk}}measure" ng-model="nipple[x.fields.materials.pk].measure">
                                        <label class="active">Medida cm</label>
                                        <input type="hidden" id="nipple{{x.fields.materials.pk}}edit">
                                    </div>
                                    <div class="col l2 input-field" ng-show="sdnip[x.fields.materials.pk]">
                                        <label class="active">Tipo</label>
                                        <select class="browser-default t{{x.fields.materials.pk}}" id="nipple{{x.fields.materials.pk}}type"></select>
                                    </div>
                                    <div class="col l2 input-field" ng-show="sdnip[x.fields.materials.pk]">
                                        <input type="number" class="right-align" id="nipple{{x.fields.materials.pk}}quantity">
                                        <label class="active">Cantidad</label>
                                    </div>
                                    <div class="col l3 input-field" ng-show="sdnip[x.fields.materials.pk]">
                                        <input type="text" id="nipple{{x.fields.materials.pk}}observation">
                                        <label class="active">Observación</label>
                                    </div>
                                    <div class="col l1" ng-show="sdnip[x.fields.materials.pk]">
                                        <br>
                                        <button type="button" class="btn waves-effect light-blue darken-1" ng-click="saveNipple()">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table responsive-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Cantidad</th>
                                    <th>C. Pendiente</th>
                                    <th>Tipo</th>
                                    <th>Descripción</th>
                                    <th>Diametro</th>
                                    <th></th>
                                    <th>Medida</th>
                                    <th>Observación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="nip{{x.fields.materials.pk}}"></tbody>
                        </table>
                    </div>
                </li>
            {% endverbatim %}
            </ul>
        </div>
    </div>
    <!-- utils -->
    <select id="typenip" class="hide">
        {% verbatim %}
            <option ng-repeat="(k, v) in tnipple" value="{{k}}">{{v}}</option>
        {% endverbatim %}
    </select>
    <!-- modal  -->
    <div class="modal" id="mpcopy">
        <div class="modal-content">
            <h4>Copiar Lista de Proyectos</h4>
            <ul class="collection with-header" ng-model="fpl" ng-hide="fpl">
                <li class="collection-header">
                    <div class="input-field">
                        <i class="prefix fa fa-filter"></i>
                        <input type="text" ng-model="ccpf">
                        <label>Buscar</label>
                    </div>
                </li>
            {% verbatim %}
                <li class="collection-item" ng-repeat="x in ascprojects | filter: ccpf |orderBy:'-pk'" data-value="{{x.pk}}">
                    <div>
                        {{x.pk}} - {{x.fields.nompro}}
                        <a href="#" class="secondary-content" ng-click="getsector(x.pk)">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </li>
            {% endverbatim %}
            </ul>
            <button type="button" class="btn waves-effect grey lighten-4 grey-text text-darken-3" ng-show="fsl" ng-click="fsl=false;fpl=false">
                <i class="fa fa-chevron-left"></i>
                <span>regresar</span>
            </button>
            <ul class="collection with-header" ng-model="fsl" ng-show="fsl">
                <li class="collection-header">
                    <div class="input-field">
                        <i class="prefix fa fa-filter"></i>
                        <input type="text" ng-model="ccsf">
                        <label>Buscar</label>
                    </div>
                </li>
            {% verbatim %}
                <li class="collection-item" ng-repeat="x in ascsector | filter: ccsf |orderBy:'-pk'" data-value="{{x.pk}}">
                    <div>
                        {{x.sector_id}} - {{x.nomsec}}
                        <a href="#" class="secondary-content" ng-click="ccopyps(x.sector_id)">
                            <i class="fa fa-clone"></i>
                        </a>
                    </div>
                </li>
            {% endverbatim %}
            </ul>
        </div>
    </div>
    <div class="modal" id="mfileup">
        <div class="modal-content">
            <h4>Cargar Archivo</h4>
            <div class="file-field input-field">
                <div class="btn red darken-1">
                    <span>Archivo</span>
                    <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                </div>
                <div class="file-path-wrapper">
                    <input type="text" class="file-path validate">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn grey lighten-4 grey-text text-darken-3 left modal-action modal-close">
                <i class="fa fa-times"></i>
                Cancelar
            </button>
            <button type="button" class="btn red darken-1">
                <i class="fa fa-upload"></i>
                Cargar
            </button>
        </div>
    </div>
</div>
<style type="text/css">
    .matname-global {
      border-radius: 4px;
      max-height: 22em;
      padding-left: 0;
      margin-bottom: 0;
      margin-top: 0;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      z-index: 0;
    }
    .matname-global li {
      background-color: #fff;
      border: 1px solid #ddd;
      display: block;
      margin-bottom: -1px;
      padding: 2px 2px;
      position: relative;
    }
    .matname-global li a {
      cursor: pointer;
      font-family: Arial sans-serif Helvetica;
      font-size: 12px;
      text-decoration: none;
      width: 100%;
    }
    .matname-global li a:hover {
      color: #000;
    }
    .matname-global li:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .matname-global li:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .matname-global .item-selected {
      background-color: #ddd;
      color: #000;
    }
    .matname-global li:hover,
    .matname-global li:hover a {
      background-color: #ddd;
      color: #000;
    }
    iframe{
        background: rgba(80,80,80,.9);
        padding-bottom: 20px;
    }
</style>
{% csrf_token %}
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular-sanitize/angular-sanitize.min.js"></script> -->
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/jquery.floatThead/dist/jquery.floatThead.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/mustache.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/getMaterials.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/mustache.js/mustache.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/operations/dsector.js"></script>
{% endblock %}