{% extends "basemd.html" %}
{% block title %}
  Programing Sector
{% endblock title %}
{% block menu %}
    {% if user.get_profile.empdni.charge.area|lower == 'ventas' or user.get_profile.empdni.charge.area|lower == 'administrator' %}
        {% include "menus/salesmd.html" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'logistica' %}
        {% include "menus/logistics.htm" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'operaciones' %}
        {% include "menus/operations.htm" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'almacen' %}
        {% include "menus/storage_menu.htm" %}
    {% endif %}
{% endblock menu %}
{% block content %}
<div ng-app="programingApp" ng-controller="programingCtrl">
  <h4 class="center-align">{{ project.proyecto_id }} {{ project.nompro }}</h4>
  <h5 class="center-align">{{ sector.sector_id }} - {{ sector.nomsec }}</h5>
  <div class="card-panel">
    <div class="card-content">
      <h5>Grupo</h5>
    </div>
    <div class="card-action">
      <button type="button" class="btn blue blue-lighten-3 waves-effect waves-light modal-trigger" data-target="mgroup">
        <i class="fa fa-plus"></i> Agregar Grupo
      </button>
      <button type="button" class="btn blue blue-lighten-3">
        <i class="fa fa-list"></i> Lista Grupo
      </button>
    </div>
    <div class="card-content">
      <h5>Area</h5>
    </div>
    <div class="card-action">
      <button type="button" class="btn green lighten-2">
        <i class="fa fa-plus"></i>
        <span>Agregar Area</span>
      </button>
      <button type="button" class="btn green lighten-2">
        <i class="fa fa-refresh"></i>
        <span>Actualizar</span>
      </button>
    </div>
  </div>
  <div class="card-panel">
    <div class="card-content">
      <div class="row">
        <div class="col l3 m6 s12" >
          <div class="card">
            <div class="card-content">
              <h4>Title</h4>
              <p>Description</p>
              <div class="row">
                <div class="col l6">
                  <div class="progress red lighten-4">
                    <div class="determinate red lighten-1" style="width: 70%"></div>
                  </div>
                </div>
                <div class="col l6">
                  $
                </div>
              </div>
            </div>
            <div class="card-action">
              <a href="#">This see details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal -->
  <div class="modal bottom-sheet" id="mgroup">
    <div class="modal-content">
      <h4>Grupo Área</h4>
      <div class="row">
        <div class="col l6 m6 s12">
          <div class="row">
            <div class="col l12 m12 s12 input-field">
              <input type="text" ng-model="group.name">
              <label>Nombre Área</label>
            </div>
            <div class="col l12 m12 s12">
              <label>Color</label>
              <br>
              <input type="color" ng-model="group.colour" style="width: 100%;">
            </div>
            <div class="col l12 m12 s12 input-field">
              <textarea class="materialize-textarea" ng-model="group.observation"></textarea>
              <label>Observaciones</label>
            </div>
          </div>
        </div>
        <div class="col l6 m6 s12">
          <div class="card" ng-style="{'background': group.colour}" >
            <div class="card-content"></div>
            <div class="card-action center-align">
              {% verbatim %}
                <span>{{group.colour}}</span>
                <span>{{group.rgba}}</span>
              {% endverbatim %}
            </div>
          </div>
        </div>
        <div class="col l6 m6 s12">
          <button type="button" class="btn waves-effect blue blue-lighten-1" ng-click="saveGroup()">
            <i class="fa fa-save"></i>
            <span>Guardar Cambios</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/operations/programmingsector.js"></script>
{% endblock content %}