{% extends "base.html" %}
{% block title %}
Quote Details
{% endblock title %}
{% block script %}
<script src="{{ MEDIA_URL }}js/mustache.js"></script>
<script src="{{ MEDIA_URL }}js/tinymce.js"></script>
<script src="{{ MEDIA_URL }}js/suppliers/details.js"></script>
{% endblock script %}
{% block style %}
<style>
    input[name="dates"]{
        width: 90px;
    }
    input[name="models"] {
        width: 100px;
    }
    input[name="desct"] {
        width: 60px;
    }
    /* table {
        display: block;
        width: 90%;
        border: 1px solid #eee;
        max-height: 320px;
        overflow: auto;
    }
    table thead {
        display: -webkit-flex;
        -webkit-flex-flow: row;
    }
    table > thead tr {
        display: -webkit-flex;
        width: 100%;
        -webkit-align-items: stretch;
    }
    table > tbody {
        display: -webkit-flex;
        height: 200px;
        overflow: auto;
        -webkit-flex-flow: row wrap;
    }
    table tbody tr{
        display: -webkit-flex;
        width: 100%;
    }
    table tr td, table tr th {
       width: 15%;
    } */
</style>
{% endblock style %}
{% block menu %}
    {% include "menus/suppliers.htm" %}
{% endblock menu %}
{% block content %}
<div class="container">
    <div class="well">
        <header>
            <h3>
                Nro Cotización {{ quote.cotizacion_id }}
                <br>
                <small>Ingrese los precios, marca, modelo y la fecha de entrega del los materiales. Los campos obligatorios son <q>Precio y Fecha de envio</q> tambien puede subir las hojas técnicas de los materiales haciendo click en el icono <span class="glyphicon glyphicon-cloud-upload"></span>.</small>
            </h3>
            <a href="{% url 'supplier_quote' %}" class="btn btn-default btn-xs "><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
            <aside>
                <dl class="dl-horizontal">
                    <dt>Realizado: </dt>
                    <dd>{{ quote.empdni.firstname }}, {{ quote.empdni.lastname }}</dd>
                    <dt>Registrado</dt>
                    <dd>{{ quote.registrado }}</dd>
                    <dt>Fecha Traslado:</dt>
                    <dd>{{ quote.traslado }}</dd>
                    <dt>Observación</dt>
                    <dd>{{ quote.obser|safe }}</dd>
                    <dt></dt>
                    <dd><a target="_blank" class="btn btn-link btn-default btn-xs text-black" href="/reports/quote/{{ quote.cotizacion_id }}/{{ request.session.ruc }}/"> <span class="glyphicon glyphicon-print"></span> Imprimir</a></dd>
                </dl>
            </aside>
        </header>
        <article>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row bedside-before">
                        <div class="col-md-12 col-sm-12">
                            <h4 class="text-center">
                                Si has terminado de ingresar los precios de los materiales, presiona este <q>Bottón</q>
                            </h4>
                        </div>
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <h4>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </h4>
                        </div>
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <button class="btn btn-warning text-black btn-show-bedside" {% if disabled %}
                                disabled="disabled"
                            {% endif %}">
                                <h5>Presiona Aqui</h5>
                                <span class="glyphicon glyphicon-hand-up"></span>
                            </button>
                        </div>
                    </div>
                    <div class="btn-group bedside-after">
                        <button class="btn btn-warning text-black btn-cancel">
                            <!-- <span class="glyphicon glyphicon-remove-circle"></span> -->
                            <span class="glyphicon glyphicon-chevron-up"></span>
                            <p>
                                Cancelar
                            </p>
                        </button>
                        <button class="btn btn-default btn-send">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            <span class="glyphicon glyphicon-send"></span>
                            <p class="text">Guardar y enviar la cotización</p>
                        </button>
                    </div>
                </div>
                <div class="panel-body panel-bedside">
                    <p class="text-warning">
                        <small>
                            Campos Obligatorios (*).
                        </small>
                    </p>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <div class="form-group has-warning">
                                <label class="control-label">Fecha Traslado *</label>
                                <input type="text" name="traslado" class="form-control input-control" maxlength="10" placeholder="AAAA-MM-DD">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3">
                            <div class="form-group has-warning">
                                <label class="control-label">Tiempo de Validez *</label>
                                <input type="text" class="form-control input-control" maxlength="10" name="validez" placeholder="AAAA-MM-DD">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="form-group has-warning">
                                <label class="control-label">Moneda *</label>
                                <select name="moneda" id="moneda" class="form-control input-sm">
                                    {% for x in currency %}
                                        <option value="{{ x.moneda_id }}">{{ x.moneda }}</option>
                                    {% empty %}
                                        <option value=""> -- Nothing --</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="form-group has-warning">
                                <label class="control-label">Contacto</label>
                                <input type="text" class="form-control input-control" name="contact" placeholder="Ingrese su Nombre">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-8">
                            <div class="form-group has-warning">
                                <label class="control-label">Observaciones</label>
                                <textarea name="obser" id="obser" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <section>
            <div class="panel panel-warning">
                <div class="panel-footer bg-warning">
                    <h5>Lista de materiales a cotizar.</h5>
                    <strong><small>Nota:</small></strong><br>
                    <small>Ingrese los precio sin incluir el <q>IGV</q>. El <q>IGV</q> y el <q>Total</q> seran calculados automaticamente.</small>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr class="brand-warning">
                                <th class="text-center">Item</th>
                                <!-- <th class="text-center">Código</th> -->
                                <th class="text-center">Material</th>
                                <th class="text-center">Unidad</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Dsto. %</th>
                                <th class="text-center">Importe</th>
                                <th class="text-center">Marca</th>
                                <th class="text-center">Modelo</th>
                                <th class="text-center">F. Entrega</th>
                                <th class="text-center">Hoja Tec.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in details %}
                                <tr class="{{ x.materiales_id }}">
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <!-- <td>{{ x.materiales_id }}</td> -->
                                    <td>{{ x.materiales.matnom }} - {{ x.materiales.matmed }}</td>
                                    <td>{{ x.materiales.unidad.uninom }}</td>
                                    <td>{{ x.cantidad|safe }}</td>
                                    <td>
                                        <input type="number" name="prices" data-brand="{{ x.marca }}" data-model="{{ x.modelo }}" data-pk="{{ x.id }}" class="form-control input-sm" value="{{ x.precio|safe }}" min="0" max="9999999" data-mat="{{ x.materiales_id }}" {% if disabled %}
                                            disabled="disabled"
                                        {% endif %}">
                                    </td>
                                    <td>
                                        <input type="number" name="desct" class="form-control input-sm text-right" data-pk="{{ x.id }}" min="0" max="100" value="{{ x.discount }}" data-mat="{{ x.materiales_id }}" {% if disabled %}
                                            disabled="disabled"
                                        {% endif %}">
                                    </td>
                                    <td class="text-right">{{ x.amount|safe }}</td>
                                    <td>
                                        <input type="text" data-mat="{{ x.materiales_id }}" data-pk="{{ x.id }}" value="{{ x.marca }}" name="brands" class="form-control input-sm" {% if disabled %}
                                            disabled="disabled"
                                        {% endif %}">
                                    </td>
                                    <td>
                                        <input type="text" data-mat="{{ x.materiales_id }}" name="models" data-pk="{{ x.id }}" value="{{ x.modelo }}" class="form-control input-sm" {% if disabled %}
                                            disabled="disabled"
                                        {% endif %}">
                                    </td>
                                    <td>
                                        <input type="text" data-mat="{{ x.materiales_id }}" data-pk="{{ x.id }}" placeholder="aaaa-mm-dd" maxlength="10" value="{{ x.entrega|date:"Y-m-d" }}" name="dates" class="form-control input-sm" {% if disabled %}disabled="disabled"

                                        {% endif %}">
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-xs btn-link text-black btn-file" value="{{ x.materiales_id }}" data-pk="{{ x.id }}" {% if disabled %}
                                            disabled="disabled"
                                        {% endif %}"><span class="glyphicon glyphicon-cloud-upload"></span></button>
                                    </td>
                                </tr>
                            {% empty %}
                                <div class="alert alert-danger alert-block">
                                    <strong>Error!</strong>
                                    <p>
                                        Al parecer la cotización no cuenta con una lista de materiales, si esto es recurente comuniquese con nostros.
                                    </p>
                                </div>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-right brand-warning" colspan="6">Subtotal</th>
                                <td class="warning subtc"></td>
                            </tr>
                            <tr>
                                <th class="text-right brand-warning" colspan="6">IGV {{ igv }}%</th>
                                <td class="warning igvc"></td>
                            </tr>
                            <tr>
                                <th class="text-right brand-warning" colspan="6">Total</th>
                                <td class="warning totalc"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- block variable -->
{% csrf_token %}
<input type="hidden" value="{{ igv }}" name="igv">
<input type="file" name="sheettech" class="hide" accept="application/pdf">
<!-- <input type="hidden" name="quote" value="{{ quote.cotizacion_id }}">
<input type="hidden" name="supplier" value="{{ request.session.ruc }}"> -->
{% endblock content %}