{% extends "base.html" %}
{% block title %}
    Cotización
{% endblock title %}
{% block content %}
<div class="container">
    <div class="well">
        <header>
            <h1>
                Cotizacióin Nro {{ nro }}
            </h1>
        </header>
        <article>
            <div class="panel panel-primary">
                <div class="panel-header">
                    Si has terminado de ingresar los precios preciona el boton. <span class="glyphicon glyphicon-arrow-right"></span>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-chevron-down"></span> Aqui</button>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock content %}