{% extends 'base.html' %}
{% block title %}Login Supplier{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/home/login.css">
{% endblock %}
{% block script %}
<script src="{{ MEDIA_URL }}js/sha256.js"></script>
<script src="{{ MEDIA_URL }}js/suppliers/login.js"></script>
{% endblock %}
{% block header %}
<h2>CMS Almacén</h2>
{% endblock %}
{% block menu %}{% endblock %}
{% block content %}
<div class="content-login">
    <form action="" name="form-login" method="POST">
        {% csrf_token %}
        <p>
            <label class="control-label">Ruc Proveedor</label>
            <input type="text"  class="form-control input-sm" name="supplier" maxlength="11" required="required" title="Ruc Proveedor">
        </p>
        <p>
            <label class="control-label">Username</label>
            <input type="text" maxlength="16"  class="form-control input-sm" name="username" required="required" title="Username">
        </p>
        <p>
            <label class="control-label">Password</label>
            <input type="password"  class="form-control input-sm" name="password" required="required" title="Password">
        </p>
        <button type="Submit" name="submit" class="btn btn-primary" value="Submit">Ingresar
         <span class="glyphicon glyphicon-log-in"></span>
        </button>
        <div class="content-msg">
            <span class="msg">{{ msg }}</span>
        </div>
    </form>
</div>
{% endblock %}