{% extends "base.html" %}
{% block script %}
    <script>
        setTimeout(function() {
            $("input[name=comienzo], input[name=fin]").datepicker({"changeYear": true,"changeMonth": true,"showAnim": "slide","dateFormat": "yy-mm-dd"});
        }, 200);
    </script>
{% endblock script %}
{% block content %}
<div class="container">
    <div class="well">
        {% if msg %}
            {% if msg == "success" %}
                <div class="alert alert-success alert-block">
                    <strong>Correcto!</strong>
                    <p>
                        Se guardo correctamente.
                        <a href="javascript:window.close();" class="btn btn-warning text-black"><span class="glyphicon glyphicon-remove"></span> Cerrar</a>
                    </p>
                </div>
            {% endif %}
            {% if msg == "error" %}
                <div class="alert alert-danger alert-block">
                    <strong>Error!</strong>
                    <p>
                        No se a guardado correctamente.
                        <a href="javascript:window.close();" class="btn btn-warning text-black"><span class="glyphicon glyphicon-remove"></span> Cerrar</a>
                    </p>
                </div>
            {% endif %}
        {% else %}
            <form method="post" >
                {% csrf_token %}
                <input type="hidden" name="type" value="{{ type }}">
                <div class="form-group">
                    <label class="control-label">Proyecto Id</label>
                    <input type="text" class="form-control" name="proyecto" value="{{ pro }}" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label">Subproyecto Id</label>
                    <input type="text" class="form-control" name="subproyecto" value="{{ sub }}" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label">Codigo Sector</label>
                    <div class="input-group">
                        <span class="input-group-addon">{{ pro }}</span>
                        {{ form.sector_id }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Codigo de Plano</label>
                    {{ form.planoid }}
                </div>
                <div class="form-group">
                    <label class="control-label">Descripción</label>
                    {{ form.nomsec }}
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha Incio</label>
                    {{ form.comienzo }}
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha Fin</label>
                    {{ form.fin }}
                </div>
                <div class="form-group">
                    <label class="control-label">Observación</label>
                    {{ form.obser }}
                </div>
                <div class="form-group">
                    <label class="control-label">Importe <small>(Aproximado)</small></label>
                    {{ form.amount }}
                </div>
                {% if sub %}
                    <div class="form-group">
                        <label class="control-label">Tipo Adicional</label>
                        {{ form.atype }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Código </label>
                        {{ form.atype }}
                    </div>
                {% endif %}
                <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Limpiar</button>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar Cambios</button>
            </form>
        {% endif %}

    </div>
</div>
{% endblock content %}