{% extends "base.html" %}
{% block title %}
    Compare Quotations
{% endblock title %}
{% block menu %}
	{% include "menus/logistics.htm" %}
{% endblock menu %}
{% block content %}
<div class="container">
    <div class="well">
        <header>
            <h3>
            	Comparar Cotizaciones
            	<br>
            	<small>
            		Nro de Cotización {{ quote.cotizacion_id }}
            	</small>
            </h3>
        </header>
        <article>
        	<div class="panel panel-success">
        		<div class="row">
	        		{% for x in supplier %}
	        			<div class="col-md-3">
	        				<div class="alert alert-block alert-success text-center">
	        					<span class="glyphicon glyphicon-chevron-right"></span>
	        					<strong>{{ x.proveedor_id }}</strong>
	        					<p>{{ x.proveedor.razonsocial }}</p>
	        				</div>
	        			</div>
	        		{% endfor %}
        		</div>
        	</div>
        </article>
        <section>
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <!-- <tr></tr> -->
                    <tr>
                        <th colspan="7"></th>
                        {% for s in supplier %}
                            <th class="text-center" colspan="4">{{ s.proveedor_id }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Medida</th>
                        <th>Unidad</th>
                        <th>Cantidad</th>
                        {% for s in supplier %}
                            <th>Precio</th>
                            <th>Dsct.</th>
                            <th>Edit</th>
                            <th>Marca</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for x in details %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td></td>
                            <td>{{ x.materials }}</td>
                            <td>{{ x.name }}</td>
                            <td>{{ x.measure }}</td>
                            <td>{{ x.unit }}</td>
                            <td>{{ x.quantity|safe }}</td>
                             {% for s in supplier %}
                                {% for k in x.others %}
                                    {{ k. }}
                                {% endfor %}
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {{ details }}
    </div>
</div>
{% endblock content %}