{% extends "base.html" %}
{% block title %}
    List Purchase
{% endblock title %}
{% block script %}
<script src="{{ MEDIA_URL }}js/getMaterials.js"></script>
<script src="{{ MEDIA_URL }}js/mustache.js"></script>
<script src="{{ MEDIA_URL }}js/logistics/listPurchase.js"></script>
<script src="{{ MEDIA_URL }}js/annimated.js"></script>
{% endblock script %}
{% block menu %}
    {% include "menus/logistics.htm" %}
{% endblock menu %}
{% block content %}
<div class="container">
    <div class="well step-one">
        <header>
            <h1>Ordenes de Compra</h1>
        </header>
        <section>
            <aside>
                <div class="bs-callout bs-callout-warning">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                Buscar por:
                                <label class="inline-radio"><input type="radio" name="search" value="code"> Código</label>
                                <label class="inline-radio"><input type="radio" name="search" value="status"> Estado</label>
                                <label class="inline-radio"><input type="radio" name="search" value="dates"> Fechas</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Código</label>
                                <input type="text" maxlength="10" class="form-control input-sm" name="code" placeholder="OCAA000000" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Estado</label>
                                <select name="status" id="status" class="form-control input-sm" disabled="disabled">
                                    <option value="">-- Seleccione --</option>
                                    <option value="PE">PENDIENTE</option>
                                    <option value="CO">COMPLETO</option>
                                    <option value="IN">INCOMPLETO</option>
                                    <option value="AN">ANULADO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Fecha Inicio</label>
                                <input type="text" maxlength="10" class="form-control input-sm" name="star" placeholder="aaaa-mm-dd" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Fecha Fin</label>
                                <input type="text" maxlength="10" class="form-control input-sm" name="end" placeholder="aaaa-mm-dd" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <button class="btn btn-warning btn-block text-black btn-search"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <article>
                <div class="panel panel-primary">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <th></th><th>Nro Orden Compra</th><th>Documento</th><th>Traslado</th><th>Moneda</th><th>Deposito</th><th>Ver</th><th>Acción</th>
                            </thead>
                            <tbody>
                                {% for x in purchase %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ x.compra_id }}</td>
                                        <td>{{ x.documento.documento }}</td>
                                        <td>{{ x.traslado }}</td>
                                        <td>{{ x.moneda.moneda }}</td>
                                        <td><a class="text-black" target="_blank" href="{{ MEDIA_URL }}{{ x.deposito }}"><span class="glyphicon glyphicon-file"></span></a></td>
                                        <td><a class="text-black" target="_blank" href="{% url 'rpt_purchase' x.compra_id %}"><span class="glyphicon glyphicon-list"></span></a></td>
                                        <td>
                                            {% if x.status == 'PE' %}
                                                <button class="btn btn-xs btn-link text-black btn-actions" value="{{ x.compra_id }}">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <div class="well step-two">
        <header>
            <h3>
                Editar Orden de Compra <span class="nrop"></span>
                <br>
                <small name="rucandreason">

                </small>
            </h3>
        </header>
        <div class="panel panel-primary">
            <div class="panel-footer">
                <button class="btn btn-default btn-back">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </button>
                <button class="btn btn-primary btn-save-purchase">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Guardar Cambios
                </button>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Ruc</label>
                            <input type="text" class="form-control" name="ruc" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Razón Social</label>
                            <input type="text" class="form-control" name="reason" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Lugar de Entrega</label>
                            <input type="text" class="form-control" name="delivery" value="Jr. Gral. Jose de San Martin Mz. F Lote 8A Huachipa - Lurigancho Lima, Peru">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Documento</label>
                            <select class="form-control" name="document">
                            {% for x in document %}
                                <option value="{{ x.documento_id }}">{{ x.documento }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Pago</label>
                            <select class="form-control" name="payment">
                                {% for x in payment %}
                                    <option value="{{ x.pagos_id }}">{{ x.pagos }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Moneda</label>
                            <select name="currency" id="" class="form-control">
                                {% for x in currency %}
                                    <option value="{{ x.moneda_id }}">{{ x.moneda }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Traslado</label>
                            <input type="text" maxlength="10" placeholder="aaaa-mm-dd" class="form-control" name="transfer">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Contacto</label>
                            <input type="text" class="form-control" name="contact">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Deposito</label>
                            <input type="file" class="hide" name="deposit" accept="application/pdf">
                            <div class="alert alert-inverse alert-inverse-border">
                                <div class="text-center">
                                    <span class="glyphicon glyphicon-paperclip"></span> Click
                                    <button class="btn btn-sm text-white upload-green btn-show-deposit">
                                        Aqui
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-footer">
                <h5 class="text-bold">Detalle de Orden de Compra</h5>
            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <button class="btn btn-sm btn-success text-black btn-show-add">
                        <span class="fa fa-plus-square-o fa-lg"></span>
                        <span>Agregar Material</span>
                    </button>
                    <button class="btn btn-sm btn-danger text-black btn-delete">
                        <span class="fa fa-check-square-o fa-lg"></span>
                        <span class="fa fa-trash-o fa-lg"></span> Elimimar
                    </button>
                </div>
            </div>
            <div class="panel-body panel-add bg-warning">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group has-warning">
                                    <label class="control-label">Descripción / Nombre de material</label>
                                    <input type="text" class="form-control input-sm" name="description">
                                    <ul id="matname-global" class="matname-global"></ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group has-warning">
                                    <label class="control-label">Código</label>
                                    <input type="text" class="form-control input-sm" maxlength="15" name="code">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-warning">
                                    <label class="control-label">Medida</label>
                                    <select class="form-control input-sm" name="meter"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group has-warning">
                                        <label class="control-label">Metrado/Cantidad</label>
                                        <input type="text" class="form-control input-sm" name="quantity" min="1" placeholder="0">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-warning">
                                        <label class="control-label">Precio</label>
                                        <input type="text" class="form-control input-sm" name="price" min="1" placeholder="0">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-warning">
                                        <label class="control-label">Marca</label>
                                        <div class="input-group">
                                            <select name="brand" id="brand" class="form-control input-sm"></select>
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-default btn-new-brand"><span class="glyphicon glyphicon-plus"></span></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-warning">
                                        <label class="control-label">Modelo</label>
                                        <div class="input-group">
                                            <select name="model" id="model" class="form-control input-sm"></select>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-sm btn-new-model"><span class="span glyphicon glyphicon-plus"></span></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group has-warning">
                                        <label class="control-label">Incluir Grupo</label>
                                        <input type="checkbox" name="gincludegroup" value="0">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group has-warning">
                                        <label class="control-label">Agregar</label>
                                        <button class="btn btn-block btn-warning text-black btn-add">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p>
                                        <small>
                                            El precio del sistema esta expresado en <q class="currency-name">{{ system.moneda.moneda }}</q>
                                        </small>
                                    </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="alert alert-warning alert-block">
                                    <strong>Resumén</strong>
                                    <table class="table-condensed tb-details">
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table table-responsive">
                <table class="table table-condensed table-hover table-pod">
                    <caption>
                        <div class="form-group text-left">
                            Seleccionar
                            <label class="radio-inline">
                                <input type="radio" name="select" value="1"> Todo
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="select" value="0"> Ninguno.
                            </label>
                        </div>
                    </caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Item</th>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Medida</th>
                            <th>Unidad</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th width="2cm">Dscto</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" rowspan="4"></td>
                            <td>Subtotal</td>
                            <td class="text-bold tamount"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group" style="width: 180px;">
                                    <span class="input-group-addon">
                                        DSCTO.
                                    </span>
                                    <input type="text" class="form-control input-sm edsct">
                                    <span class="input-group-addon">
                                        %
                                    </span>
                                </div>
                            </td>
                            <td class="tdsct"></td>
                        </tr>
                        <tr>
                            <td>IGV <span class="eigv"></span></td>
                            <td class="tigv"></td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <th class="text-bold ttotal"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <input type="hidden" name="prices">
    </div>
</div>
<!-- block modals -->
<div class="modal fade mactions" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="close">&times;</a>
                <h4 class="modal-title">
                    Acciones
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <button class="btn btn-primary btn-block btn-priamry btn-edtp">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Editar
                    </button>
                    <button class="btn btn-danger btn-block btn-priamry btn-delp">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                        Anular
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- endblock modals -->
{% endblock content %}