{% extends "base.html" %}
{% block title %}
	Order Purchase
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen.css">
{% endblock style %}
{% block menu %}
	{% include "menus/logistics.htm" %}
{% endblock menu %}
{% block content %}
	<div class="">
		<div class="well step-one">
			<header>
				<h3>Generar Orden de Compra</h3>
			</header>
			<nav>
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
						<button type="button" class="btn btn-warning text-black btn-search">
							<span class="glyphicon glyphicon-search"></span>
							<span class="visible-lg visible-md visible-sm"> Buscar</span>
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-warning text-black btn-read">
							<span class="glyphicon glyphicon-file"></span>
							<span class="visible-lg visible-md visible-sm"> Leer Archivo</span>
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-warning text-black btn-list">
							<span class="glyphicon glyphicon-list"></span>
							<span class="visible-lg visible-md visible-sm"> Listar</span>
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-warning text-black" onClick="deleteAll(event)">
							<span class="glyphicon glyphicon-trash"></span>
							<span class="visible-lg visible-md visible-sm"> Eliminar Tmp</span>
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-warning text-black show-bedside">
							<span class="glyphicon glyphicon-floppy-disk"></span>
							<span class="visible-lg visible-md visible-sm"> Generar Orden de Compra</span>
						</button>
					</div>
				</div>
			</nav>
			<aside>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<button class="btn btn-xs btn-warning text-black btn-show-materials">
							Agregar materiales
							<span class="glyphicon glyphicon-chevron-down"></span>
						</button>
					</div>
					<div class="panel-body panel-add">
						<div class="row">
	                        <div class="col-md-4">
	                            <div class="form-group has-warning">
	                                <label class="control-label">Descripción / Nombre de material</label>
	                                <input type="text" class="form-control input-sm" name="description">
	                                <ul id="matname-global" class="matname-global"></ul>
	                            </div>
	                        </div>
	                        <div class="col-md-2">
	                            <div class="form-group has-warning">
	                                <label class="control-label">Código</label>
	                                <input type="text" class="form-control input-sm" maxlength="15" name="code">
	                            </div>
	                        </div>
	                        <div class="col-md-6">
	                            <div class="form-group has-warning">
	                                <label class="control-label">Medida</label>
	                                <select class="form-control input-sm" name="meter"></select>
	                            </div>
	                        </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group has-warning">
                                            <label class="control-label">Metrado/Cantidad</label>
                                            <input type="number" class="form-control input-sm" name="cantidad" min="1" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group has-warning">
                                            <label class="control-label">Precio</label>
                                            <input type="number" class="form-control input-sm" name="precio" min="1" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group has-warning">
                                            <label class="control-label">Desct %</label>
                                            <input type="number" name="discount" class="form-control input-sm" value="0" min="0" max="100">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group has-warning">
                                            <label class="control-label">Percepción</label>
                                            <input type="checkbox" name="perception" class="form-control input-sm" value="0">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group has-warning">
                                            <label class="control-label">Marca</label>
                                            <div class="input-group">
                                                <select name="brand" id="brand" class="form-control input-sm"></select>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-sm btn-default btn-new-brand"><span class="glyphicon glyphicon-plus"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group has-warning">
                                            <label class="control-label">Modelo</label>
                                            <div class="input-group">
                                                <select name="model" id="model" class="form-control input-sm"></select>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default btn-sm btn-new-model"><span class="span glyphicon glyphicon-plus"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group has-warning">
                                            <label class="control-label">Unidad</label>
                                            <div class="input-group">
                                                <select name="unit" id="unit" class="form-control input-sm"></select>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default btn-sm btn-new-unit"  onclick="openUnit()">
                                                        <span class="span glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group has-warning">
                                            <label class="control-label">Agregar</label>
                                            <button class="btn btn-block btn-sm btn-warning text-black btn-add"><span class="glyphicon glyphicon-plus"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
	                        <div class="col-md-6">
	                            <div class="alert alert-warning alert-block">
	                                <strong>Resumén</strong>
	                                <table class="table-condensed tb-details">
	                                    <tbody></tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
					</div>
				</div>
			</aside>
			<article>
				<div class="panel panel-warning">
					<div class="table-responsive">
						<table class="table table-hover table-condensed table-list">
                            <caption>
                                <div class="row">
                                    <div class="col-md-3">
                                        <dl class="dl-horizontal bg-warning">
                                            <dt>Subtotal :</dt>
                                            <dd class="sub text-left"></dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-3">
                                        <dl class="dl-horizontal bg-warning">
                                            <dt>Total Descuento :</dt>
                                            <dd class="discount text-left"></dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-3">
                                        <dl class="dl-horizontal bg-warning">
                                            <dt>IGV :</dt>
                                            <dd class="igv text-left"></dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-3">
                                        <dl class="dl-horizontal bg-warning">
                                            <dt>Total :</dt>
                                            <dd class="total text-left"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </caption>
							<thead>
								<tr class="brand-warning">
									<th>Item</th>
                                    <th>Codigo</th>
                                    <th>Descripción</th>
                                    <!-- <th>Medida</th> -->
                                    <th>Unidad</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th class="text-right">Cantidad</th>
                                    <th class="text-right">Precio</th>
                                    <th>Descuento</th>
                                    <th>Percepción</th>
                                    <th>Importe</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                    <th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</article>
		</div>
	</div>
<!-- block modal -->
<div class="modal fade medit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>
                    Editar material.
                    <br>
                    <small id="descedit"></small>
                </h4>
                <div class="row">
                    <div class="form-group has-info col-md-6">
                        <input type="hidden" name="eidtmp">
                        <label class="control-label">Código Material</label>
                        <input type="text" maxlength="15" name="ematid" class="form-control input-sm" readonly>
                    </div>
                    <div class="form-group has-info col-md-6">
                        <label class="control-label">Cantidad</label>
                        <input type="number" class="form-control input-sm" name="equantity">
                    </div>
                    <div class="form-group has-info col-md-6">
                        <label class="control-label">Marca</label>
                        <div class="input-group">
                            <select name="ebrand" class="form-control input-sm"></select>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm btn-new-model">
                                    <span class="span glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group has-info col-md-6">
                        <label class="control-label">Model</label>
                        <div class="input-group">
                            <select name="emodel" class="form-control input-sm"></select>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm btn-new-model">
                                    <span class="span glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group has-info col-md-6">
                        <label class="control-label">Precio</label>
                        <input type="number" class="form-control input-sm" name="eprice">
                    </div>
                    <div class="form-group has-info col-md-6">
                        <label class="control-label">Descuento</label>
                        <div class="input-group input-group-sm">
                            <input type="number" min="0" max="100" value="0" class="form-control input-sm" name="edist">
                            <span class="input-group-addon">
                                %
                            </span>
                        </div>
                    </div>
                    <div class="form-group has-info col-md-6">
                        <label class="control-label">Unindad</label>
                        <div class="input-group">
                            <select name="eunit" class="form-control input-sm"></select>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-sm" onclick="openUnit()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group has-info col-md-6">
                        <label class="control-label">Percepción</label>
                        <input type="checkbox" class="form-control input-sm" name="eperception">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                <button class="btn btn-warning text-black" name="esave"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade mfile" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body bg-warning">
                <h4>Subir y leer plantilla</h4>
                <a class="btn btn-danger btn-sm" href="{{ MEDIA_URL }}storage/templates/TemplatePurchase.xls" target="_blank"><span class="glyphicon glyphicon-file"></span> Plantilla</a>
                <div class="alert alert-inverse alert-inverse-border">
                    <div class="text-center">
                        <button class="btn btn-link text-white show-input-file-temp">Click aquí!</button>
                        <input type="file" name="read" accept="application/xls">
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-warning">
                <button class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                <button class="btn btn-warning text-black" data-loaging-text="Loading..." name="btn-upload"><span class="glyphicon glyphicon-tasks"></span> Leer Archivo</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade mlist">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="close">&times;</a>
                <h4>
                    Materiales no registrados,
                    <small> estos materiales no se encuentran registrados, hasta que los registre no podra agregar a la cotización.</small>
                </h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-danger">
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-nothing">
                            <thead>
                                <tr class="brand-danger">
                                    <th>Item</th>
                                    <th>Descripción</th>
                                    <th>Medida</th>
                                    <th>Unidad</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal save to purchase  -->
<div class="modal fade mpurchase" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="close">&times;</a>
                <h4 class="modal-title text-warning">
                    Generar Orden de Compra
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default pull-left"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                <button class="btn btn-warning text-black btn-purchase"><span class="glyphicon glyphicon-floppy-disk"></span> Orden de Compra</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-warning">
                            <label class="control-label">Proveedor</label>
                            <select name="proveedor" id="proveedor" class="form-control input-sm">
                            {% for x in supplier %}
                                <option value="{{ x.proveedor_id }}">{{ x.razonsocial }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-warning">
                            <label class="control-label">Entrega</label>
                            <input type="text" name="lugent" class="form-control imput-sm" value="{{ request.session.company.address }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-warning">
                            <label class="control-label">Documento</label>
                            <select name="documento" id="documento" class="form-control input-sm">
                                {% for x in document %}
                                    <option value="{{ x.documento_id }}">{{ x.documento }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-warning">
                            <label class="control-label">Pago</label>
                            <select name="pagos" id="pagos" class="form-control input-sm">
                                {% for x in pago %}
                                    <option value="{{ x.pagos_id }}">{{ x.pagos }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-warning">
                            <label class="control-label">Moneda</label>
                            <select name="moneda" id="moneda" class="form-control input-sm">
                                {% for x in currency %}
                                    <option value="{{ x.moneda_id }}">{{ x.moneda }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group has-warning">
                            <label class="control-label">Traslado</label>
                            <input type="text" name="traslado" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group has-warning">
                            <label class="control-label">Descuento</label>
                            <div class="input-group">
                                <input type="text" name="pdiscount" value="0" class="form-control input-sm">
                                <span class="input-group-addon">
                                    %
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group has-warning">
                            <label class="control-label">Contacto</label>
                            <input type="text" name="contacto" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group has-warning">
                            <label class="control-label">Cotización Cliente</label>
                            <input class="form-control" name="quotation" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group has-warning">
                            <label class="control-label">I. IGV</label>
                            <input type="checkbox" class="form-control" name="sigv" onChange="calcTotal()" checked="checked">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group has-warning">
                            <label class="control-label">Subtotal</label>
                            <div class="input-group">
                                <label class="form-control text-right input-sm" name="vamount"></label>
                                <span class="input-group-addon"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group has-warning">
                            <label class="control-label">Descuento</label>
                            <div class="input-group">
                                <label class="form-control text-right input-sm" name="vdsct"></label>
                                <span class="input-group-addon"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group has-warning">
                            <label class="control-label">IGV</label>
                            <div class="input-group">
                                <input type="text" class="form-control text-right input-sm" name="vigv" readonly="true">
                                <span class="input-group-addon">
                                    <!--<input type="checkbox" class="">-->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group has-warning">
                            <label class="control-label">Total</label>
                            <div class="input-group">
                                <label class="form-control text-right input-sm" name="vtotal"></label>
                                <span class="input-group-addon"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group has-warning">
                            <label class="control-label">Seleccion de proyectos:</label>
                            <select name="selproject" class=" form-control" multiple>
                                {% for x in projects %}
                                    <option value="{{ x.proyecto_id }}">{{ x.nompro }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group has-warning">
                            <label class="control-label">Observaciones</label>
                            <textarea class="form-control" name="observation" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group has-warning">
                            <label class="control-label">Deposito</label>
                            <div class="alert alert-inverse alert-inverse-border text-center">
                            <span class="glyphicon glyphicon-paperclip"></span>
                                Click<button class="btn btn-sm btn-link btn-deposito">aqui</button>
                            </div>
                            <input type="file" class="hide" name="deposito" accept="application/pdf">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- block observation -->
<div class="modal fade" id="mobservation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Observación para <span class="odesc"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Observación</label>
                            <textarea id="obs" rows="7" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    <span>Cancelar</span>
                </button>
                <button type="button" class="btn btn-primary" id="saveComment">
                    <i class="fa fa-times"></i>
                    <span>Guardar Cambios</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- endblock -->
{% csrf_token %}
<script src="{{ MEDIA_URL }}js/mustache.js"></script>
<!-- <script src="{{ MEDIA_URL }}js/scrollTo.js"></script> -->
<script src="{{ MEDIA_URL }}js/getMaterials.js"></script>
<script src="{{ MEDIA_URL }}js/tinymce.js"></script>
<script src="{{ MEDIA_URL }}js/chosen.jquery.min.js "></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/floatThead.js"></script>
<script src="{{ MEDIA_URL }}js/logistics/purchase.js"></script>
{% endblock content %}