{% extends "base.html" %}
{% block title %}
    Service Order
{% endblock title %}
{% block script %}
    <script src="{{ MEDIA_URL }}js/floatThead.js"></script>
{% endblock script %}
{% block menus %}
    {% include "menus/logistics.htm" %}
{% endblock menus %}
{% block content %}
    <div class="container">
        <div class="well">
            <header>
                <h3>
                    Orden de Servicio
                </h3>
            </header>
        </div>
    </div>
{% endblock content %}