@page {
    margin: 1cm;
    @frame header_frame {
        -pdf-frame-content: logo;
        margin-top: 1cm; top: 0; left: 1cm;
    }
    @frame header_frame {
        -pdf-frame-content: dir;
        margin-top: 1cm;top: 0pt;
    }
    @frame header_frame {
        -pdf-frame-content: info-type;
        margin-top: 1cm;top: 0cm;right: 1cm;width: 9%;
    }
    @frame header_frame {
        -pdf-frame-content: nro-serie;
        margin-top: 2.5cm; right: 1cm; top: 0; width: 9cm;
    }
    @frame header_frame {
        -pdf-frame-content: nro;
        margin-top: 3.3cm; right: 1cm; width: 9cm;
    }
    @frame header_frame {
        -pdf-frame-content: bedside-col1;
        left: 1cm; margin-top: 3.8cm; width: 9cm;
    }
    @frame header_frame {
        -pdf-frame-content: bedside-col2;
        right: 1cm; margin-top: 4.3cm; width: 9cm;
    }
    @frame content_frame {
        /*-pdf-frame-content: details;*/
        top: 7cm;
        margin-left: 1cm;
        margin-right: 1cm;
    }
    @frame footer_frame {
        -pdf-frame-content: footer_content;
        left: 50pt; width: 512pt; top: 772pt; height: 20pt;
    }
    @frame footer {
        -pdf-frame-content: footerContent;
        bottom: .5cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 3cm;
    }
}
img{
    zoom: 80%;
}
#dir,
#nro-serie,
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.font-small {
    font-size: 10px;
}
#nro-serie h1 {
    font-size: 24px;
}
.details table > thead > tr { background-color: brown; border: 0.01 solid brown; padding-top: .15cm; padding-bottom: 0.1cm; }
.details table > tbody > tr { border-left: .01cm solid brown; border-right: .01cm solid brown; padding-top: .05cm; padding-bottom: 0.01cm; }
/*.details table > tfoot > tr { border-top: 0.01cm solid brown; }*/
.details table > tbody > tr:last-child { border-bottom: 1px solid brown; }
.border{
    /* border-left: .01cm solid brown;
    border-right: .01cm solid brown; */
    border: .01cm solid brown;
    padding-top: .05cm;
    padding-bottom: 0.01cm;
    padding-right: 0.05cm;
    padding-left: 0.1cm;
}
.nom {
    width: 7cm;
}
.item {
    width: 1cm;
}
.table-note-footer {
    /*border: 1px solid black;*/
}
.table-note-footer > tbody > tr:first-child > td {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-top: 0.03cm;
    padding-left: 0.08cm;
}
.table-note-footer > tbody > tr:last-child > td {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}