@page {
	size: legal;
	margin: 1cm;
	@frame header_frame {
		-pdf-frame-content: logo;
		margin-top: 1cm; top: 0; left: 1cm;
	}
	@frame header_frame {
		-pdf-frame-content: dir;
		margin-left: 5.3cm; margin-top: 1.5cm; top: 0pt; width: 7cm;
	}
	@frame header_frame {
		-pdf-frame-content: nro-serie;
		height: 4cm; margin-top: 1cm; right: 1cm; top: 0; width: 8cm;
	}
	@frame header_frame {
		-pdf-frame-content: guide;
		width: 8cm;
	}
	/*@frame header_frame {
		-pdf-frame-content: nro;
		margin-top: 3.3cm; right: 1cm; width: 8cm;
	}*/
	@frame header_frame {
		-pdf-frame-content: bedside;
		margin-left: 1cm; margin-top: 4.5cm; margin-right: 1cm;
	}
	@frame content_frame {
		/*-pdf-frame-content: details;*/
		top: 10.9cm; margin-left: 1cm; margin-right: 1cm;
	}
	@frame footer_frame {
		-pdf-frame-content: footer_content;
		top: 32cm; margin: 0 1cm 0 1cm;
	}
}
img{
	zoom: 110%;
}
#dir{
	text-align: left;
}
#nro-serie,
.text-center {
	text-align: center;
}
#nro-serie {
	border: 1px solid #000;
	height: 4cm;
	padding-top: 0.4cm;
	padding-bottom: 0.4cm; 
}
#nro-serie span {
	font-size: 0.5cm;
	font-weight: bold;
}
#guide {
	background-color: #ddd;
	border: 1px solid #000;
	width: 8cm;
}
#bedside{
	border: 1px solid #000;
}
#footer_content { border: 1px solid #000; }
#footer_content table { border: none; }
.fo{ border: 1px solid #000; }
.text-partida { background-color: #eff5fb; border: 1px solid #000; font-size: 10px; font-weight: bold; padding: 3px 0 0 5px; }
.bedcontent { padding: 0.1cm 0 0.1cm 0; text-align: center; font-size: 11px; font-family: monospace; }
.pretitle { padding: 1px 0 0 3px; }
.details table > thead > tr { background-color: #eff5fb; border: 0.01 solid #0b3861; padding-top: .15cm; padding-bottom: 0.1cm; }
.details table > tbody > tr { border-left: .01cm solid #0b3861; border-right: .01cm solid #0b3861; padding-top: .05cm; padding-bottom: 0.01cm; }
.details table > tfoot > tr { border-top: 0.01cm solid #0b3861; }
.text-up { vertical-align: top; }
.nom { padding-left: 5px; }