@import 'nib/vendor'

vendor-prefixes = webkit moz o ms

@page
  size legal portrait
  margin 1cm

  @frame header_frame
    -pdf-frame-content nro
    right 1cm
    top 6.2cm
    width 5cm

  @frame header_frame
    -pdf-frame-content delivery
    left 1.5cm
    top 7.2cm
    width 7cm

  @frame header_frame
    -pdf-frame-content arrival
    left 11.5cm
    top 7.2cm

  @frame header_frame
    -pdf-frame-content reason
    left 3cm
    top 9.3cm
    width 6cm

  @frame header_frame
    -pdf-frame-content ruc
    left 5cm
    top 10.4cm
    width 6cm

  @frame header_frame
    -pdf-frame-content transfer
    right 10cm
    top 10.1cm
    width 6.2cm

  @frame header_frame
    -pdf-frame-content day
    right 5cm
    top 10.1cm
    width 2cm

  @frame header_frame
    -pdf-frame-content month
    right 3.5cm
    top 10.1cm
    width 2cm

  @frame header_frame
    -pdf-frame-content year
    right 1cm
    top 10.1cm
    width 2cm

  @frame header_frame
    -pdf-frame-content transport-brand
    top 12cm
    left 6.5cm
    width 6cm

  @frame header_frame
    -pdf-frame-content transport-inscription
    left 6.5cm
    top 12.5cm
    width 4.5cm

  @frame header_frame
    -pdf-frame-content transport-license
    left 6.5cm
    top 13cm
    width 4.5cm

  @frame header_frame
    -pdf-frame-content carrie-reason
    left 15cm
    top 12cm
    width 4.5cm

  @frame header_frame
    -pdf-frame-content carrie-ruc
    left 15cm
    top 13cm
    width 4.5cm

  @frame content_frame
    top 13.8cm
    margin-left 1.5cm
    margin-right 1cm

  @frame footer_frame
    -pdf-frame-content footer_content
    top 32cm
    margin 0 1cm 0 1cm

// @font-face
//   font-family ubuntu
//   src url(/media/fonts/2086.ttf)

@font-face
  font-family 'dot'
  src url('/media/fonts/Tahoma.eot')
  src url('/media/fonts/Tahoma.woff')
  src url('/media/fonts/Tahoma.ttf')

// @font-face
//   font-family: dot;
//   src: url(/media/fonts/2086.ttf)

*
  font-family: 'dot' !important
  font-size: 14px

.text-center
  text-align center

.text-normal
  font-family: 'dot' !important
  font-size 13px

.text-number
  font-family: 'dot' !important
  font-size 15px

#delivery, #arrival
  text-indent 3cm

#nro
  font-size 16px //14
  font-weight 600

#transfer
  border 1px solid #000

.details
  table
    // & > thead
    //   & > tr
    //     padding-top 0.15cm
    //     padding-bottom 0.1cm
    & > tbody
      & > tr
        & > td
          //padding-top 0.1cm
          padding-bottom 0.08cm
          font-family 'dot' !important
          font-size 13px // 11px
        .text-quantity
          font-size 15px
          font-weight bold

.text-up
  font-size 13px
  vertical-align top

.xfont
  font-family: 'dot' !important
  padding: 2px 0 2px 0


