@page {
  margin: 1cm;
/*@frame header_frame
        -pdf-frame-content observation
        margin 0 1cm 0 1cm
        top 5.6cm*/
  @frame header_frame {
    -pdf-frame-content: logo;
    top: 1cm;
    left: 1cm;
  }
  @frame header_frame {
    -pdf-frame-content: address;
    left: 5cm;
    top: 1.5cm;
    width: 4cm;
  }
  @frame header_frame {
    -pdf-frame-content: contentserie;
    right: 2cm;
    top: 2.5cm;
    width: 5cm;
  }
  @frame header_frame {
    -pdf-frame-content: bedsideone;
    left: 1cm;
    top: 4cm;
    width: 40%;
  }
  @frame header_frame {
    -pdf-frame-content: bedsidetwo;
    right: 1cm;
    top: 4cm;
    width: 45%;
  }
  @frame content_frame {
    top: 6cm;
    margin: 0 1cm 0 1cm;
  }
}
#address {
  text-align: center;
  vertical-align: super;
  white-space: pre;
}
#contentserie {
  padding: 10px 0px 10px 0px;
  text-align: center;
}
#contentserie > span:first-child {
  font-size: 18px;
  font-weight: bold;
}
#contentserie > span:last-child {
  font-size: 16px;
  font-weight: bold;
  white-space: pre;
}
#bedsideone > table > tbody > tr > td:first-child,
#bedsidetwo > table > tbody > tr > td:first-child {
  font-weight: bold;
  width: 90px;
}
section > table > thead > tr:first-child {
  background-color: #f2f2f2;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
section > table > thead > tr:first-child > th {
  padding: 4px 0 0 0;
}
section > table > thead > tr:first-child > th:first-child {
  border-left: 1px solid #000;
  width: 45px;
}
section > table > thead > tr:first-child > th:last-child {
  border-right: 1px solid #000;
}
section > table > tbody > tr {
  padding: 2px 0 2px 0;
}
section > table > tbody > tr > td {
  text-align: center;
}
section > table > tbody > tr > td:first-child {
  border-left: 1px solid #000;
}
section > table > tbody > tr > td:last-child {
  border-right: 1px solid #000;
  padding: 0 5px;
  text-align: right;
}
section > table > tbody > tr > td[rel="left"] {
  text-align: left;
}
section > table > tbody > tr:last-child {
  border-bottom: 1px solid #000;
}
#footer > div > strong:first-child {
  font-size: 12px;
}
