@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/media/vendor/materialize/dist/font/material-design-icons/Material-Design-Icons.eot");
  src: local('Material Icons'), local('Material-Design-Icons'), url("/media/vendor/materialize/dist/font/material-design-icons/Material-Design-Icons.woff2") format('woff2'), url("/media/vendor/materialize/dist/font/material-design-icons/Material-Design-Icons.woff") format('woff'), url("/media/vendor/materialize/dist/font/material-design-icons/Material-Design-Icons.ttf") format('truetype'), url("/media/vendor/materialize/dist/font/material-design-icons/Material-Design-Icons.svg") format('svg');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
/* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
/* Support for IE. */
  font-feature-settings: 'liga';
}
