/* @import url(http://fonts.googleapis.com/css?family=Roboto); */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(/media/fonts/roboto.woff) format('woff');
}

* {
  font-family: 'Roboto', sans-serif;
}
html {
  background: url("/media/images/portada.jpg") 0 0;
  background-size: cover;
  height: 100%;
  margin: 0;
  max-width: 100%;
  width: 100%;
}
body {
  background-color: rgba(255,255,255,0);
  margin: 0;
  margin-top: 4em;
}
@media screen and (max-width: 992px) {
  html {
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 650px) {
  html {
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 480px) {
  html {
    background-size: 100% 100%;
  }
}
/* ScrollBar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
  background-color: rgba(2,2,2,0.6);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  background: rgba(240,240,240,0.4);
  -webkit-box-shadow: inset 0 0 3px rgba(20,20,20,0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  background: rgba(254,254,254,0.8);
  -webkit-box-shadow: inset 0 0 4px rgba(120,120,120,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #e6e6e6;
  background: rgba(250,250,250,0.8);
}
/* Final ScrollBar */
.ui-widget {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 42em;
}
.ui-combobox {
  position: relative;
  display: inline-block;
  font-size: 12px;
}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
/* adjust styles for IE 6/7*/
  *height: 1.7em;
  *top: 0.1em;
  font-size: 12px;
}
.ui-combobox-input {
  margin: 0;
  padding: 0.3em;
  font-size: 12px;
  width: 26em;
}
.text-red {
  color: #f00;
}
.text-red:hover {
  color: #900;
}
.text-green {
  color: #5cb85c;
}
.text-green:hover {
  color: #357935;
}
.text-blue {
  color: #428bca;
}
.text-blue:hover {
  color: #245682;
}
.matname-global{
  border-radius: 4px;
  max-height: 22em;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.matname-global li{
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  margin-bottom: -1px;
  padding: 2px 2px;
  position: relative;
}
.matname-global li:hover, .matname-global li:hover a{
  background-color: #ddd;
  color: #000;
}
.matname-global .item-selected{
  background-color: #ddd;
  color: #000;
}
.matname-global li a{
  cursor: pointer;
  font-family: Arial sans-serif Helvetica;
  font-size: 12px;
  text-decoration: none;
  width: 100%;
}
.matname-global li a:hover{
  color: #000;
}
.matname-global li:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.matname-global li:last-child{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.upload-green{
  background-color: #007a96;
}
.full-screen {
  background-color: rgba(2,2,2,.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.full-screen > iframe {
  height: 92.5%;
  margin-top: -1.8%;
  width: 100%;
}