html {
  background: url("/media/images/portada.jpg") 0 0;
  background-size: cover;
  height: 100%;
  margin: 0;
  max-width: 100%;
  width: 100%;
}
body {
  background-color: rgba(255,255,255,0);
  margin: 0;
  margin-top: 4em;
}
@media screen and (max-width: 992px) {
  html {
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 650px) {
  html {
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 480px) {
  html {
    background-size: 100% 100%;
  }
}
/* ScrollBar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
  background-color: rgba(2,2,2,0.6);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  background: rgba(240,240,240,0.4);
  -webkit-box-shadow: inset 0 0 3px rgba(20,20,20,0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  background: rgba(254,254,254,0.8);
  -webkit-box-shadow: inset 0 0 4px rgba(120,120,120,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #e6e6e6;
  background: rgba(250,250,250,0.8);
}
/* Final ScrollBar */
.ui-widget {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 42em;
}
.ui-combobox {
  position: relative;
  display: inline-block;
  font-size: 12px;
}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
/* adjust styles for IE 6/7*/
  *height: 1.7em;
  *top: 0.1em;
  font-size: 12px;
}
.ui-combobox-input {
  margin: 0;
  padding: 0.3em;
  font-size: 12px;
  width: 26em;
}
.text-red {
  color: #f00;
}
.text-red:hover {
  color: #900;
}
.text-green {
  color: #5cb85c;
}
.text-green:hover {
  color: #357935;
}
.text-blue {
  color: #428bca;
}
.text-blue:hover {
  color: #245682;
}
