.matname-global {
  border-radius: 4px;
  max-height: 22em;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
}
.matname-global li {
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  margin-bottom: -1px;
  padding: 2px 2px;
  position: relative;
}
.matname-global li a {
  cursor: pointer;
  font-family: Arial sans-serif Helvetica;
  font-size: 12px;
  text-decoration: none;
  width: 100%;
}
.matname-global li a:hover {
  color: #000;
}
.matname-global li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.matname-global li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.matname-global .item-selected {
  background-color: #ddd;
  color: #000;
}
.matname-global li:hover {
  background-color: #ddd;
  color: #000;
}
iframe {
  background: rgba(80,80,80,0.9);
  padding-bottom: 20px;
}
