{% extends 'base.html' %}
{% block script %}
<script src="/media/js/almacen/attendorder.js"></script>
{% endblock %}
{% block style %}
<style type="text/css">
	.input-xs {
		height: 24px;
		line-height: 50%;
		margin: 0;
		padding: 1px;
	}
</style>
{% endblock %}
{% block menu %}
	{% include "menus/storage_menu.htm" %}
{% endblock menu %}
{% block content %}
<div class="container">
	<div class="well">
	<h1 class="text-primary">Atender Pedido {{orders.pedido_id}}</h1>
		{% csrf_token %}
		<input type="hidden" class="empdni" value="{{user.get_profile.empdni}}">
		<input type="hidden" class="oid" value="{{orders.pedido_id}}">
		<div class="row show-grid">
			<div class="col-md-12">
				<div class="row bs-callout bs-callout-warning">
					<div class="col-md-6">
						<dl class="dl-horizontal">
							<dt>Proyecto</dt><dd>{{ orders.proyecto_id }} - {{ orders.proyecto.nompro }}</dd>
							<dt>Subproyecto</dt><dd>{{ orders.subproyecto_id }} - {{ orders.subproyecto.nomsub }}</dd>
							<dt>Sector</dt><dd>{{ orders.sector_id }} - {{ orders.sector.nomsec }}</dd>
							<dt>Almacén</dt><dd>{{ orders.almacen.nombre }}</dd>
							<dt>Realizado</dt><dd>{{ usr.user.first_name }} {{ usr.user.last_name }}</dd>
							<dt>Asunto</dt><dd>{{ orders.asunto }}</dd>
						</dl>
					</div>
					<div class="col-md-6">
						<dl class="dl-horizontal">
							<dt>Registrado</dt><dd>{{ orders.registrado }}</dd>
							<dt>Realizado</dt><dd>{{ orders.traslado }}</dd>
							<dt>Observación</dt><dd>{{ orders.obser|safe }}</dd>
							<dt>Estado</dt><dd>{{ orders.status }}</dd>
							{% if orders.orderfile %}
								<dt>Adjunto</dt><dd><a class="btn btn-default btn-xs btn-warning text-black" target="_blank" href="{{ MEDIA_URL }}/{{ orders.orderfile }}"><span class="glyphicon glyphicon-download"></span></a></dd>
							{% endif %}
						</dl>
					</div>
					<div class="col-md-12">
						<button type="button" class="btn btn-warning text-black btn-attend">
							<span class="glyphicon glyphicon-floppy-save"></span> Guardar Cambios
						</button>
						<a href="{% url 'return_order_items_view' orders.pedido_id %}" class="btn btn-primary pull-right">
							<i class="fa fa-reply-all"></i>
							<span>Retornar Items</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped table-hover table-bordered table-condensed">
					<caption>
						<div class="bg-warning text-left">
							<label class="radio-inline"><input type="radio" name="bedside" value="true" {{ radio }}> Todo</label>
							<label class="radio-inline"><input type="radio" name="bedside" value="false" {{ radio }} checked /> Ninguno</label>
						</div>
					</caption>
						<thead>
							<tr class="brand-primary text-white">
								<th></th>
								<th class="text-center">Item</th>
								<th class="text-center">Codigo</th>
								<th>Descripción</th>
								<th>Medida</th>
								<th class="text-center">Unidad</th>
								<th class="text-center">Cantidad</th>
								<th class="text-center">Atender</th>
								<th>Stock</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% if det %}
							{% for x in det %}
							<tr class="tr-{{ x.materiales_id }}
							{% if x.cantshop <= 0.0 %}
								success
							{% else %}
									{% if x.stock <= 0 %}
										danger
									{% elif x.stock > 0 and x.stock <= x.cantshop %}
										warning
									{% else %}
										info
									{% endif %}
							{% endif %}">
								<td><input type="checkbox" name="bed" value="{{ x.materiales_id }}"
								{% if x.cantshop <= 0.0 or x.stock <= 0 or x.stock < x.cantshop %}
									disabled
								{% endif %}/></td>
								<td class="text-center">{{ forloop.counter }}</td>
								<td>{{ x.materiales_id }}</td>
								<td>{{ x.materiales.matnom }}</td>
								<td>{{ x.materiales.matmed }}</td>
								<td class="text-center">{{ x.materiales.unidad_id }}</td>
								<td class="text-center">{{ x.cantidad }}</td>
								<td class="col-md-1"><input type="number" step="any" name="{{ x.cantidad|safe }}" value="{{ x.cantshop|safe }}" min="1" max="{{ x.cantshop|safe }}" class="form-control input-xs bed{{ x.materiales_id }}" disabled></td>
								<td class="text-center">{{ x.stock }}</td>
								{% if x.spptag %}
									<td class="bg-success text-center">
										<span class="glyphicon glyphicon-checked"></span>
									</td>
								{% else %}
									<td class="bg-danger text-center">
										<span class="glyphicon glyphicon-unchecked"></span>
									</td>
								{% endif %}
							</tr>
							{% endfor%}
							{% else %}
								<div class="alert alert-warning">
									<strong>Warning</strong>
									<p>No se han encontrado <q><strong>Pedidos</strong></q> para mostrar.<p>
								</div>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-condensed table-hover table-striped table-bordered">
						<caption class="text-left"><h4>Lista de Niples</h4></caption>
						<thead>
							<tr><th>Item</th><th>codigo</th><th>Descripción</th><th>Medida</th><th>Unidad</th><th>Cantidad</th></tr>
						</thead>
						<tbody>
							{% for c in det %}
								{% if c.materiales_id|truncatechars:6 == "115..." %}
									<tr class="warning">
										<td>{{ forloop.counter0 }}</td>
										<td>{{ c.materiales_id }}</td>
										<td>{{ c.materiales.matnom }}</td>
										<td>{{ c.materiales.matmed }}</td>
										<td class="text-center">{{ c.materiales.unidad_id }}</td>
										<td class="text-center">{{ c.cantshop }}</td>
									</tr>
									<tr>
										<td colspan="6">
											<table cellspacing="0" cellpadding="0" class="table table-condensed tbl" width="100%">
												<caption>
													<div class="bg-warning text-left">
														<label class="radio-inline"><input type="radio" onChange="changeradio(this);" name="{{ c.materiales_id}}" value="true" disabled> Todo</label>
														<label class="radio-inline"><input type="radio" onChange="changeradio(this);" name="{{c.materiales_id}}" value="false" checked disabled /> Ninguno</label>
													</div>
												</caption>
												<thead>
													<tr>
														<th class="col-md-1"></th>
														<th class="col-md-1">Cantidad</th>
														<th class="col-md-2">Descripción</th>
														<th class="col-md-1">Diametro</th>
														<th class="col-md-1">Medida</th>
														<th class="col-md-1">Unidad</th>
														<th class="col-md-1">Atender</th>
														<th class="col-md-2">Comentario</th>
													</tr>
												</thead>
												<tbody>
													{% for x in nipples %}
														{% ifequal x.materiales_id c.materiales_id %}
															<tr class="{{ x.id }} {% if x.cantshop <= 0 %}success{% endif %}">
																<td>
																{% if x.cantshop > 0 %}
																<input type="checkbox" class="chknip" name="sc{{ c.materiales_id }}" value="{{x.id}}" onchange="enablenquantitynip(this);" disabled>
																{% endif %}
																</td>
																<td>{{ x.cantidad|safe }}</td>
																<td>{% for k,v in tipo.items %}
																	{% if k == x.tipo %}
																		Niple{{ x.cantidad|pluralize }} {{ v }}{{ x.cantidad|pluralize }}
																	{% endif %}
																{% endfor %}</td>
																<td>{{ c.materiales.matmed }}</td>
																<td>{{ x.metrado }}</td>
																<td>cm</td>
																<td><input type="number" class="form-control input-xs n{{x.id}}" min="1" name="{{x.cantidad|safe}}" max="{{x.cantshop|safe}}" value="{{x.cantshop|safe}}" id="{{x.metrado|safe}}" onchange="recoverVal({{x.materiales_id}});" title="{{x.materiales_id}}" disabled></td>
																<td>{{ x.comment }}</td>
															</tr>
														{% endifequal %}
													{% endfor %}
												</tbody>
											</table>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}