{% extends 'base.html' %}
{% block style %}
<!--<link rel="stylesheet" href="/media/css/almacen/pedido.css">-->
{% endblock %}
{% block script %}
<!--<script src="/media/js/almacen/pedido.js"></script>-->
{% endblock %}
{% block content %}
<div class="container">
	<div class="well">
		<h1 class="text-primary">Clientes</h1>
		{% csrf_token %}
		<input type="hidden" class="empdni" value="{{user.get_profile.empdni}}">
		<div class="row show-grid">
			<div class="col-md-12">
				<a href="{% url 'vista_add_customers' %}" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-plus"></span> Nuevo Cliente</a>
			</div>
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr>
								<th class="text-center">Item</th>
								<th class="text-center">Ruc</th>
								<th>Razón Social</th>
								<th>Dirección</th>
								<th class="text-center">Telefono</th>
								<th class="text-center">Editar</th>
								<th class="text-center">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							{% if lista %}
							{% for x in lista %}
							<tr class="tr-{{x.ruccliente_id}}">
								<td>{{forloop.counter}}</td>
								<td>{{x.ruccliente_id}}</td>
								<td>{{x.razonsocial}}</td>
								<td>{{x.direccion}}</td>
								<td>{{x.telefono}}</td>
								<td class="text-center"><a href="{% url 'vista_edit_customers' x.ruccliente_id %}" class="btn btn-link text-black" value="{{x.ruccliente_id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
								<td class="text-center"><button type="Button" class="btn btn-link text-black btn-delete-customers" title="{{x.razonsocial}}" value="{{x.ruccliente_id}}"><span class="glyphicon glyphicon-trash"></span></button></td>
							</tr>
							{% endfor%}
							{% else %}
								<div class="alert alert-warning">
									<strong>Warning</strong>
									<p>No se han encontrado <q>Clientes</q> para mostrar. Presione el botón nuevo para agregar.<p>
								</div>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$(".btn-delete-customers").click(function (event) {
			event.preventDefault();
			var value = this.value;
			$().toastmessage("showToast",{
				text: "Eliminar cliente, recuerde que al eliminar a "+this.title+" sera permanentemente.<br>Desea Eliminar al Cliente?",
				sticky: true,
				type: "confirm",
				position: "middle-center",
				buttons: [{value: 'Si'},{value:'No'}],
				success: function (result) {
					if (result == "Si") {
						var data = { "ruc": value, "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val() }
						$.post("",data,function (response) {
							if (response.status) {
								if ($("table tbody > tr").length > 1 ){
									$(".tr-"+value).remove();
								}else{
									location.reload()
								}
							};
						},"json");
					};
				}
			});
		});
	});
</script>
{% endblock %}