{% extends 'base.html' %}
{% block script %}
<script src="/media/js/mustache.js"></script>
<script src="/media/js/almacen/documentout.js"></script>
{% endblock %}
{% block content %}
<div class="container">
	<div class="well">
		<h1 class="text-primary">
		Generar Documento de Salidas <br>
		<small>{{oid}}</small>
		</h1>
		<div class="row">
			<div class="col-md-4">
				<div class="alert alert-warning">
					<button class="btn btn-success btn-block btn-guide-show"><span class="glyphicon glyphicon-list"></span> Guia Remisión</button>
					<button class="btn btn-success btn-block btn-note-show"><span class="glyphicon glyphicon-list"></span> Nota de Salida</button>
				</div>
			</div>
			<div class="col-md-8">
				<div class="alert alert-warning">
					<!-- guide remision -->
					<div id="guide">
						<h4>Guia de Remisión</h4>
						<hr>
						<form action="" method="POST" name="formguide">
						{% csrf_token %}
							<div class="row show-grid">
								<div class="col-md-3">
									<div class="form-group has-warning">
										<label for="id_pedido" class="control-label">Pedido ID: </label>
										<input type="text" name="pedido" id="id_pedido" class="form-control" value="{{oid}}" readonly />
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group has-warning">
										<label for="" class="control-label">Ruc</label>
										<input type="text" name="ruccliente" id="id_ruccliente" class="form-control" value="{{orders.proyecto.ruccliente_id}}"readonly >
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group has-warning">
										<label for="" class="control-label">Razón Social</label>
										<input type="text" name="razonsocial" id="id_razonsocial" class="form-control" value="{{orders.proyecto.ruccliente.razonsocial}}" readonly />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group has-warning">
										<label for="" class="control-label">Punto de Llegada</label>
										<div class="input-group">
											<input type="text" name="puntollegada" id="id_puntollegada" value="{{orders.proyecto.direccion}}" class="form-control" readonly />
											<span class="input-group-btn">
												<button type="Button" class="btn btn-warning text-black btn-change" name="puntollegada"><span class="glyphicon glyphicon-pencil"></span></button>
											</span>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group has-warning">
										<label for="" class="control-label">Traslado</label>
										<div class="input-group">
											<input type="text" name="traslado" id="id_traslado" value="{{orders.traslado|date:'Y-m-d'}}" class="form-control" readonly />
											<span class="input-group-btn">
												<button type="Button" class="btn btn-warning text-black btn-change" name="traslado"><span class="glyphicon glyphicon-pencil"></span></button>
											</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group has-warning">
										<label for="" class="control-label">Transportista</label>
										<select name="traruc" id="id_traruc" class="form-control">
											{% for x in trans %}
											<option value="{{x.traruc_id}}">{{x.tranom}}</option>
											{% empty %}
											<option value=""> -- Nothing -- </option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group has-warning">
										<label for="" class="control-label">Transporte</label>
										<select name="nropla" id="id_nropla" class="form-control"></select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group has-warning">
										<label for="" class="control-label">Conductor</label>
										<select name="condni" id="id_condni" class="form-control"></select>
									</div>
								</div>
								<div class="col-md-12">
									<hr>
									<button type="Button" data-loading-text="<span class='glyphicon glyphicon-transfer'></span> Proccess..." data-complete-text="<span class='glyphicon glyphicon-ok'></span> Complete!" class="btn btn-warning btn-block text-black btn-save-guide">
										<span class="glyphicon glyphicon-floppy-save"></span> Guardar y Generar Guia
									</button>
								</div>
							</div>
						</form>
					</div>
					<!-- note out -->
					<div id="note">
						<h4>Nota de Salida</h4>
						<hr >
						<p>Nothing</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- document print -->
<div class="modal fade pmguide">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Imprimir Guia de Remisión</h4>
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
</div>
{% endblock %}