{% extends 'base.html' %}
{% block menu %}
	{% include "menus/storage_menu.htm" %}
{% endblock menu %}
{% block content %}
<div class="container">
	<div class="well">
		<h1 class="text-primary">Generar Guia de Remision desde un Pedido</h1>
		<div class="table-responsive">
			<table class="table table-condensed table-hover table-striped table-bordered">
				<thead>
					<tr>
						<th class="text-center">Item</th>
						<th></th>
						<th class="text-center">Codigo</th>
						<th>Proyecto</th>
						<th>Almacén</th>
						<th class="text-center">Fecha Traslado</th>
						<th class="text-center">Estado</th>
						<th class="text-center">Vista Previa</th>
					</tr>
				</thead>
				<tbody>
					{% for x in orders %}
					<tr class="tr-{{x.pedido_id}}">
						<td class="text-center">{{forloop.counter}}</td>
						<td class="text-center"><a class="btn btn-xs btn-link text-black" href="{% url 'vista_outdocument' x.pedido_id %}"><span class="glyphicon glyphicon-ok"></span></a></td>
						<td>{{x.pedido_id}}</td>
						<td>{{x.pedido.proyecto.nompro}}</td>
						<td>{{x.pedido.almacen.nombre}}</td>
						<td class="text-center">{{x.pedido.traslado}}</td>
						<td class="text-center">{{x.pedido.status}}</td>
						<td class="text-center"><a href="{% url 'rpt_orders' x.pedido_id x.pedido.status %}" target="_blank" class="btn btn-xs btn-link text-black" value="{{x.pedido_id}}"><span class="glyphicon glyphicon-list"></span></a></td>
					</tr>
					{% empty %}
						<div class="alert alert-warning">
							<strong>Warning</strong>
							<p>No se han encontrado <q><strong>Pedidos</strong></q> para mostrar.<p>
						</div>
					{% endfor%}
				</tbody>
			</table>
		</div>
	</div>
<div>
{% endblock %}