{% extends "base.html" %}
{% block title %}
    Note Ingress
{% endblock title %}
{% block script %}
    <script src="{{ MEDIA_URL }}js/mustache.js"></script>
    <script src="{{ MEDIA_URL }}js/floatThead.js"></script>
    <script src="{{ MEDIA_URL }}js/almacen/noteingress.js"></script>
{% endblock script %}
{% block header %}
    {% include "menus/storage_menu.htm" %}
{% endblock header %}
{% block content %}
    <div class="container">
        <div class="panel panel-sucess">
            <div class="panel-body panel-first">
                <header>
                    <h3>
                        Nota de Ingreso
                    </h3>
                </header>
                <section>
                    <div class="bs-callout bs-callout-warning">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    Buscar por:
                                    <label class="radio-inline">
                                        <input type="radio" name="opsearch" value="nro">
                                        Código
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="opsearch" value="status">
                                        Estado
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="opsearch" value="date">
                                        Fechas
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Nro Nota Ingreso</label>
                                    <input type="text" placeholder="NIAA000000" class="form-control input-sm" name="number" disabled>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Estado</label>
                                    <select name="status" class="form-control input-sm" disabled>
                                        <option value="">-- Seleccione --</option>
                                        <option value="CO">COMPLETO</option>
                                        <option value="PE">PENDIENTE</option>
                                        <option value="AN">ANULADO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">FECHA INICIO</label>
                                    <input type="text" maxlength="10" placeholder="dd-mm-aaaa" class="form-control input-sm" name="sdate" disabled>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">FECHA FIN</label>
                                    <input type="text" maxlength="10" placeholder="dd-mm-aaaa" class="form-control input-sm" name="edate" disabled>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label class="control-label">BUSCAR</label>
                                <button class="btn btn-warning btn-sm text-black search">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="tabel-responsive">
                    <table class="table table-condensed table-float table-bordered table-noteingress">
                        <thead>
                            <tr class="brand-warning">
                                <th class="text-center">ITEM</th>
                                <th class="text-center">CODIGO</th>
                                <th class="text-center">NRO COMPRA</th>
                                <th class="text-center">NRO FACTURA</th>
                                <th class="text-center">INGRESO</th>
                                <th class="text-center">ESTADO</th>
                                <th class="text-center">ACCION</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in note %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td>{{ x.ingress_id }}</td>
                                    <td>{{ x.purchase_id }}</td>
                                    <td>{{ x.invoice }}</td>
                                    <td>{{ x.register|date:"d-m-Y" }}</td>
                                    <td>{{ x.status }}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="fa fa-gears"></span>
                                                <!-- <span class="caret"></span> -->
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="text-left dropedit" data-value="{{ x.ingress_id }}"><small>Editar</small></a></li>
                                                <li><a class="text-left dropanular" data-value="{{ x.ingress_id }}"><small>Anular</small></a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6">Nothing data</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-body panel-second">
                <header>
                    <h3>
                        Editar Nota de Ingreso
                        <small class="editni"></small>
                    </h3>
                </header>
                <nav class="">
                    <button class="btn btn-sm btn-default backtofirst">
                        <span class="fa fa-chevron-circle-left"></span>
                        Regresar
                    </button>
                        <button class="btn btn-sm btn-success editingress pull-right">
                            <span class="fa fa-edit"></span>
                            Editar Cambios
                        </button>
                </nav>
                <div class="panel panel-warning">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Nro Nota de Ingreso</label>
                                    <input type="text" maxlength="10" name="ingress" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Almacén</label>
                                    <input type="text" maxlength="10" class="form-control" name="storage" readonly>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Orden de Compra</label>
                                    <input type="text" maxlength="10" class="form-control" name="purchase" readonly>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Nro Guia Remisión</label>
                                    <input type="text" name="guide" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Nro Factura</label>
                                    <input type="text" name="invoice" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Motivo:</label>
                                    <input type="text" name="motive" maxlength="10" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Observación:</label>
                                    <textarea name="observation" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-float table-details">
                                        <thead>
                                            <tr class="warning">
                                                <th class="col-1">Item</th>
                                                <th>Descripción</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th>Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--  block data -->
{% csrf_token %}
{% endblock content %}