{% extends 'base.html' %}
{% block script %}
	<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("appAO", []).config(function ($httpProvider) {
					$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
					$httpProvider.defaults.xsrfCookieName = 'csrftoken';
  				$httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
				});
		app.controller('CtrlAO', ['$scope','$http', function($scope, $http){
			$scope.orders = [];
			$scope.area = '';
			$scope.cargo = '';
			angular.element(document).ready(function () {
				var data = {glist: true}
				$http.get("", {params: data}).success(function (response){
					console.log(response);
					if (response.status) {
						$scope.orders = response.list;
					}else{
						swal("Alerta!", "No hay datos para mostrar.", "warning");
					};
				console.log($scope.area);
				});
			});
			$scope.cancelOrder = function ($event) {
				swal({
					title: "Realmente desea anular el pedido?",
					text: "",
					type: "warning",
					showCancelButton: true,
					confirmButtonText: 'Si!, anular',
					confirmButtonColor: "#d9534f",
					closeOnConfirm: true,
					closeOnCancel: true
				}, function(isConfirm){
					if (isConfirm){
						var id = $event.currentTarget.dataset.order;
						data = {"csrfmiddlewaretoken": $("[name=csrfmiddlewaretoken]").val(), "oid": id }
						$.post('/json/post/cancel/orders/', data, function(response) {
							if (response.status) {
								location.reload()
							}else{
								$().toastmessage("showWarningToast","No se a podido anular el pedido. "+response.raise);
							};
						});
					}
				});
			};
		}]);
	</script>
	<script src="{{ MEDIA_URL }}js/floatThead.js"></script>
	<script>
		$("table.table-float").floatThead({
			useAbsolutePositioning: false,
			scrollingTop: 50
		});
	</script>
{% endblock script %}
{% block menu %}
	{% include "menus/storage_menu.htm" %}
{% endblock menu %}
{% block content %}
<div class="container" ng-app="appAO" ng-controller="CtrlAO">
	<input type="hidden" ng-init="area='{{request.user.get_profile.empdni.charge.area|lower}}'" ng-model="area">
	<input type="hidden" ng-init="cargo='{{request.user.get_profile.empdni.charge.cargos|lower}}'" ng-model="cargo">
	<div class="well">
	<h1 class="text-primary">Lista Atender Pedido</h1>
		<!--<input type="hidden" class="empdni" value="{{user.get_profile.empdni}}">-->
		<div class="row show-grid">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-hovered table-bordered table-condensed table-float">
						<caption>
							<div class="form-group text-left">
								<label for="" class="control-label text-left">Busqueda</label>
								<input type="text" ng-model="search" class="form-control">
							</div>
						</caption>
						<thead>
							<tr class="brand-primary text-white">
								<th class="text-center">Item</th>
								<th class="text-center">Codigo</th>
								<th>Proyecto</th>
								<th>Almacén</th>
								<th class="text-center">Fecha Traslado</th>
								<th class="text-center">Estado</th>
								<th class="text-center">Vista Previa</th>
								<th class="text-center">Atender</th>
								{% if request.user.get_profile.empdni.charge.area|lower == 'administrator' %}
									<th>Anular</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
						{% verbatim %}
							<tr class="tr-{{x.pk}}" ng-repeat="x in orders | filter: search">
								<td class="text-center">{{$index+1}}</td>
								<td>{{x.pk}}</td>
								<td>{{ x.fields.proyecto.pk }} {{x.fields.proyecto.fields.nompro}}</td>
								<td>{{x.fields.almacen.fields.nombre}}</td>
								<td class="text-center">{{x.fields.traslado}}</td>
								<td class="text-center">{{x.fields.status}}</td>
								<td class="text-center">
									<a href="/reports/orders/{{x.pk}}/{{x.fields.status}}/" target="_blank" class="btn btn-xs btn-link text-black">
										<span class="fa fa-file-text"></span>
									</a>
								</td>
								<td class="text-center">
									<a  class="btn btn-xs btn-link text-black" href="/almacen/meet/order/{{x.pk}}/">
										<span class="glyphicon glyphicon-ok"></span>
									</a>
								</td>
								<td class="text-center" ng-if="area == 'administrator' || cargo == 'jefe de almacen'">
									<a href="#" class="btn btn-xs text-black" ng-click="cancelOrder($event)" data-order="{{x.pk}}">
										<i class="fa fa-trash"></i>
									</a>
								</td>
							</tr>
						{% endverbatim %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% csrf_token %}
{% endblock %}