{% extends 'base.html' %}
{% block title %} List Orders Details {% endblock %}
{% block script %}
<script src="{{ MEDIA_URL }}js/almacen/detailsorders.js"></script>
{% endblock %}
{% block menu %}
	{% include "menus/storage_menu.htm" %}
{% endblock menu %}
{% block content %}
<div class="container">
	<div class="well">
		<header>
			<h3>
				<span class="glyphicon glyphicon-list-alt"></span>
				Detalle de Pedidos
				<small>Seleccione los materiales para registrar en una <q>Orden de Suministro</q>.</small>
			</h3>
		</header>
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-condensed">
						<tbody>
							{% for x in orders %}
								<tr class="brand-warning"><td>{{ forloop.counter }}</td><th>Nro Pedido</th><td>{{ x.pedido_id }}</td><th>Proyecto</th><td>{{ x.proyecto.nompro }}</td><th>Subroyecto</th><td>{{ x.subproyecto.nomsub }}</td></tr>
								<tr class="brand-warning"><td></td><th>Sector</th><td>{{ x.sector.nomsec }}</td><th>Traslado</th><td>{{ x.traslado }}</td><td></td><td></td></tr>
								<tr>
									<td colspan="7">
										<table class="table table-hover table-condensed">
											<thead>
												<tr class="warning">
													<td colspan="8">
														Selecionar
														<label class="radio-inline"><input type="radio" name="rdo{{ x.pedido_id }}" value="all"> Todo</label>
														<label class="radio-inline"><input type="radio" name="rdo{{ x.pedido_id }}" value=""> Ninguno</label>
														<div class="btn-group pull-right">
															<button class="btn btn-xs btn-warning text-black" name="btn{{ x.pedido_id }}" disabled><span class="glyphicon glyphicon-shopping-cart"></span> Suminsitrar</button>
														</div>
													</td>
												</tr>
												<tr class="bg-warning">
													<th></th><th></th><th>Codigo</th><th>Descripción</th><th>Medida</th><th>Unidad</th><th>Cantidad</th><th>Stock</th>
												</tr>
											</thead>
											<tbody>
												{% for j in details %}
													{% ifequal x.pedido_id j.pedido_id  %}
														<tr class="
															{% if j.stock <= 0 and not j.spptag %}
																danger
															{% elif j.stock > 0 and j.stock <= j.cantshop and not j.spptag %}
																warning
															{% elif j.stock > j.cantshop  and not j.spptag %}
																success
															{% endif %}
														">
															<td>{{ forloop.counter }}</td>
															<td><input type="checkbox" name="chk{{ x.pedido_id }}" value="{{ j.cantshop }}" title="{{ j.materiales_id }}"
																{% if j.spptag %}
																	disabled="disabled" checked
																{% endif %}
															></td>
															<td>{{ j.materiales_id }}</td>
															<td>{{ j.materiales.matnom }}</td>
															<td>{{ j.materiales.matmed }}</td>
															<td>{{ j.materiales.unidad_id }}</td>
															<th>{{ j.cantshop|safe }}</th>
															<th>{{ j.stock|safe }}</th>
														</tr>
													{% endifequal %}
												{% endfor %}
											</tbody>
										</table>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block footer %}
{% csrf_token %}
{% endblock %}