{% extends 'base.html' %}
{% block script %}
<script src="{{ MEDIA_URL }}js/mustache.js"></script>
<script src="{{ MEDIA_URL }}js/almacen/listorderssupply.js"></script>
{% endblock %}
{% block style %}
<style>
	.lst-orders{
		padding: 10px 0 10px 0;
	}
</style>
{% endblock %}
{% block content %}
<div class="container">
	<div class="well">
		<header>
			<h3>
				Pedidos
				<small>
					Arrastra un pedido a la columna "Para Suministrar" para obtener el detalle de materiales y así seleccionar los materiales para la order de suministro.
				</small>
			</h3>
		</header>
		<aside>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<div class="panel panel-info">
									<div class="panel-heading"><strong>Pedidos</strong></div>
								<ul class="list-group lst-orders"  name="order">
									{% for x in Orders %}
										<li class="list-group-item list-group-item-info item-draggable" id="{{ x.pedido_id }}" value="{{ x.flag }}">{{ x.pedido_id }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="panel panel-success">
								<div class="panel-heading"><strong>Para Suministrar</strong></div>
								<ul class="list-group lst-orders list-drop" name="supply">
									
								</ul>
							</div>
						</div>
						<div class="col-md-8">
							<div class="panel panel-primary">
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-condensed table hover data-mats">
											<thead>
												<tr>
													<th></th><th>Código</th><th>Descripción</th><th>Medida</th><th>Unidad</th><th>Cantidad</th><th>Stock</th><th>Add</th>
												</tr>
											</thead>
											<tbody>
												
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</aside>
	</div>
</div>
<!-- block modals -->
<div class="modal fade maddsupply">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header brand-warning">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Agregar Material a Orden de Suministro</h4>
			</div>
			<div class="modal-body brand-warning">
				<div class="form-group">
					<label for="form-control" class="control-label">Código</label>
					<input type="text" value="" name="id-add" class="form-control">
				</div>
				<div class="form-group">
					<label for="form-control" class="control-label">Código</label>
					<input type="number" value="" min="" name="cant-add" class="form-control">
				</div>
				<div class="form-group">
					<button class="btn btn-sm btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Salir</button>
					<button class="btn btn-sm btn-warning text-black pull-right btn-add-commit"><span class="glyphicon glyphicon-plus-sign"></span> <span class="glyphicon glyphicon-shopping-cart"></span> Añadir</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% csrf_token %}
{% endblock %}