{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="/media/css/almacen/pedido.css">
{% endblock %}
{% block script %}
<script src="/media/js/almacen/pedido.js"></script>
{% endblock %}
{% block content %}
<div class="container">
	<div class="well">
		<h1>Generar Pedido</h1>
		{% csrf_token %}
		<input type="hidden" class="empdni" value="{{user.get_profile.empdni}}">
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group">
					<button class="btn btn-warning text-black btn-up-file-show"><span class="glyphicon glyphicon-upload"></span> <span>Subir Archivo</span></button>
					<button class="btn btn-warning text-black btn-list"><span class="glyphicon glyphicon-list"></span> <span>Actualizar</span></button>
					<button class="btn btn-warning text-black btn-del-all-temp-show"><span class="glyphicon glyphicon-trash"></span> <span>Eliminar</span></button>
					<button class="btn btn-warning text-black btn-niples"><span class="glyphicon glyphicon-th"></span> <span>Niples</span></button>
					<button class="btn btn-warning text-black"><span class="glyphicon glyphicon-saved"></span> <span>Guardar</span></button>
				</div>
			</div>
			<div class="col-md-12">
				<button class="btn btn-info btn-xs btn-add-mat"><span class="glyphicon glyphicon-plus"></span> <q>Agregar Material</q></button>
				<div class="alert alert-info alertt-block block-add-mat">
					<!--<a href="#" data-dismiss="alert" id="aid" class="close">&times;</a>-->
					<div class="row show-grid">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Descripción</label>
								<input type="text" class="form-control matnom">
								<ul id="description" class="description"></ul>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Medida</label>
								<select type="text" class="form-control matmed">
									<option value=""> Nothing </option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="col-md-4">
								<div class="form-group">
									<label for="cantidad" class="control-label">Metrado</label>
									<input type="number" min="0" placeholder="0" title="Ingrese cantidad" class="form-control cantidad">
								</div>
							</div>
							<div class="col-md-4">
								<br>
								<button class="btn btn-success text-black btn-lg btnadd">
									<span class="glyphicon glyphicon-ok"></span>
									<span> Agregar</span>
								</button>
							</div>
						</div>
						<div class="col-md-6">
							<label for="alert" class="control-label">Resumén</label>
							<div class="alert alert-success">
								<table class="table table-condensed details-table">
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-bordered table-condensed table-hover">
						<caption class="text-left"><h4>Lista de Pedido</h4></caption>
						<thead>
							<tr class="warning">
								<th>Item</th>
								<th>Codigo</th>
								<th>Descripción</th>
								<th>Medida</th>
								<th>Unidad</th>
								<th>Cantidad</th>
								<th>Editar</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody template-data-user="tmporder"></tbody>
					</table>
				</div>
			</div>
			<div class="col-md-12">
				<h4 class="text-primary"><em>Lista de Niples</em></h4>
				<div class="panel-group bg-warning" id="niples">
					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- block modals -->
<!-- modal for edit quantity tmp orders -->
<div class="modal fade modal-edit-cant">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header bg-warning">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Modificar Cantidad</h4>
			</div>
			<div class="modal-body bg-warning">
				<p><strong>Materiales ID: </strong><small class="form-control-static edit-mid"></small></p>
				<p><strong>Descripción: </strong><small class="form-control-static edit-des"></small></p>
				<p><strong>Medida: </strong><small class="form-control-static edit-med"></small></p>
				<p><strong>Unidad: </strong><small class="form-control-static edit-unid"></small></p>
				<p><strong>Cantidad: </strong><input type="number" class="form-control edit-cant" placeholder="0"></p>
			</div>
			<div class="modal-footer bg-warning">
				<button class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
				<button class="btn btn-warning text-black btn-edit-cantidad" data-loading-text='Proccess...'><span class="glyphicon glyphicon-edit"></span> Cambiar</button>
			</div>
		</div>
	</div>
</div>
<!-- modal for delete materials order tmp -->
<div class="modal fade modal-delete-mid">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header bg-warning">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Desea eliminar Material?</h4>
			</div>
			<div class="modal-body bg-warning">
				<p><strong>Materiales ID: </strong><small class="form-control-static del-mid"></small></p>
				<p><strong>Descripción: </strong><small class="form-control-static del-des"></small></p>
				<p><strong>Medida: </strong><small class="form-control-static del-med"></small></p>
				<p><strong>Unidad: </strong><small class="form-control-static del-unid"></small></p>
				<p><strong>Cantidad: </strong><small class="form-control-static del-cant"></small></p>
			</div>
			<div class="modal-footer bg-warning">
				<button class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Salir</button>
				<button class="btn btn-warning text-black btn-delete-mat" data-loading-text="Process..."><span class="glyphicon glyphicon-trash"></span> Eliminar!</button>
			</div>
		</div>
	</div>
</div>
<!-- modal delete all temp -->
<div class="modal fade modal-delete-all-temp">
	<div class="modal-dialog modal-sm">
		<div class="modal-content brand-danger text-white">
			<div class="modal-body">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4><em>Desea eliminar todo el pedido temp?</em></h4>
				<small>
					Esto incluye los niples; estos se perderan permanentemente si decide continuar.
				</small>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Salir</button>
				<button class="btn btn-danger btn-del-all-temp" data-loading-text="Process..."><span class="glyphicon glyphicon-fire"></span> Eliminar Todo</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-up-file">
	<div class="modal-dialog modal-sm">
		<div class="modal-content brand-primary text-white">
			<div class="modal-body">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Cargar archivo Temp.</h4>
				<div class="form-group">
					<input type="file" class="form-control hide input-file-temp" accept="application/pdf" >
					<hr>
					<div class="alert alert-inverse alert-inverse-border">
						<div class="text-center">
							<a class="text-white">Click Here!</a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Salir</button>
				<button class="btn btn-primary"><span class="glyphicon glyphicon-gift"></span> Plantilla</button>
				<button class="btn btn-info text-black btn-upload-file-temp" data-loading-text="Upload..."><span class="glyphicon glyphicon-upload"></span> Subir</button>
			</div>
		</div>
	</div>
</div>
<!-- end block-->
<!-- Scripts -->
<script src="http://mustache.github.io/extras/mustache.js"></script>
<script src="/media/js/scrollTo.js"></script>
<!-- end scripts -->
{% endblock %}