{% extends "basemd.html" %}
{% block title %}
	Return Items from Order to Project
{% endblock title %}
{% block menu %}
    {% include "menus/storagemd.htm" %}
{% endblock menu %}
{% block content %}
	<section ng-app="rioApp" ng-controller="rioC">
		<header>
			<h3>Devolver Items a Proyecto</h3>
		</header>
		<article class="card-panel">
			<div class="card-content row">
				<div class="col l6 m6 s12">
					<blockquote>
						<dl>
							<dt>Proyecto</dt><dd>{{ order.proyecto_id }} - {{ order.proyecto.nompro }}</dd>
							<dt>Subproyecto</dt><dd>{{ order.subproyecto_id }} - {{ order.subproyecto.nomsub }}</dd>
							<dt>Sector</dt><dd>{{ order.sector_id }} - {{ order.sector.nomsec }}</dd>
							<dt>Almacén</dt><dd>{{ order.almacen.nombre }}</dd>
							<dt>Realizado</dt><dd>{{ usr.user.first_name }} {{ usr.user.last_name }}</dd>
							<dt>Asunto</dt><dd>{{ order.asunto }}</dd>
						</dl>
					</blockquote>
				</div>
				<div class="col l6 m6 s12">
					<blockquote>
						<dl class="dl-horizontal">
							<dt>Registrado</dt><dd>{{ order.registrado }}</dd>
							<dt>Realizado</dt><dd>{{ order.traslado }}</dd>
							<dt>Observación</dt><dd>{{ order.obser|safe }}</dd>
							<dt>Estado</dt><dd>{{ order.status }}</dd>
							{% if order.orderfile %}
								<dt>Adjunto</dt><dd><a class="btn btn-default btn-xs btn-warning text-black" target="_blank" href="{{ MEDIA_URL }}/{{ order.orderfile }}"><span class="glyphicon glyphicon-download"></span></a></dd>
							{% endif %}
						</dl>
					</blockquote>
				</div>		
			</div>
		</article>
		{% if order.status == 'CO' or order.status == 'AN' %}
			<aside>
				<blockquote>
					<h4>No tiene items para ser devueltos.</h4>
				</blockquote>
			</aside>
		{% else %}
			<article>
				<div class="card">
					<div class="card-action">
						<h6>Seleccionar: </h6>
						<input type="radio" name="select" class="with-gap" id="all" ng-model="selAll.chk" ng-value="true" ng-click="checkall()">
						<label for="all">Todo</label>
						<input type="radio" name="select" class="with-gap" id="nothing" ng-model="selAll.chk" ng-value="false" ng-click="checkall()">
						<label for="nothing">Ninguno</label>
						<button type="button" class="btn waves-effect waves-light amber lighten-1 right" ng-click="returnItems()">
							<i class="fa fa-reply-all"></i>
							Devolver
						</button>
					</div>
				</div>
				<table class="highlight responsive-table hovered">
					<thead>
						<tr class="amber lighten-5">
							<th></th>
							<th></th>
							<th>Código</th>
							<th>Descripción</th>
							<th>Marca</th>
							<th>Modelo</th>
							<th>Unidad</th>
							<th>Pedido</th>
							<th>Pendiente</th>
						</tr>
					</thead>
					<tbody>
					{% verbatim %}
						<tr ng-repeat="x in details">
							<td>{{$index + 1}}</td>
							<td>
								<input type="checkbox" id="{{x.pk}}" ng-model="mat[x.pk]" ng-init="mat[x.pk] = false">
								<label for="{{x.pk}}"></label>
							</td>
							<td><small>{{x.fields.materiales.pk}}</small></td>
							<td>{{x.fields.materiales.fields.matnom}} {{x.fields.materiales.fields.matmed}}</td>
							<td>{{x.fields.brand.fields.brand}}</td>
							<td>{{x.fields.model.fields.model}}</td>
							<td>{{x.fields.materiales.fields.unidad}}</td>
							<td>{{x.fields.cantidad}}</td>
							<td>
								<input type="number" class="right-align" min="0" max="{{x.fields.cantshop}}" step="1" ng-model="quantity[x.pk]" ng-init="quantity[x.pk]=x.fields.cantshop" minandmax ng-disabled="mat[x.pk] == false">
							</td>
						</tr>
					{% endverbatim %}
					</tbody>
				</table>
			</article>
		{% endif %}
		<!-- block model -->
		<div id="mview" class="modal modal-fixed-footer bottom-sheet" style="max-height: 90%;">
			<div class="modal-content">
				<h5>Materiales que se van a retornar</h5>
				<table class="responsive-table highlight">
					<thead>
						<tr>
							<th></th>
							<th>Código</th>
							<th>Descripción</th>
							<th>Unidad</th>
							<th>Marca</th>
							<th>Modelo</th>
							<th>Cantidad Retorno</th>
						</tr>
					</thead>
					{% verbatim %}
					<tbody>
						<tr ng-repeat="x in datareturn">
							<td>{{$index + 1}}</td>
							<td>{{x.materials}}</td>
							<td>{{x.name}}</td>
							<td>{{x.unit}}</td>
							<td>{{x.brand}}</td>
							<td>{{x.model}}</td>
							<td>{{x.quantity}}</td>
						</tr>
					</tbody>
					{% endverbatim %}
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn modal-action modal-close left grey lighten-5 grey-text text-darken-3">
					<i class="fa fa-times"></i>
					<span class="hide-on-small-only">Cancelar</span>
				</button>
				<button type="button" class="btn blue lighthen-2" ng-click="sendReturnList()">
					<i class="fa fa-reply-all"></i>
					<span class="hide-on-small-only">Retornar Materiales</span>
				</button>
			</div>
		</div>
		<!-- end block -->
	</section>
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/almacen/returnitemsorders.js" defer></script>
{% endblock content %}