{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="well">
	<h1 class="text-primary">
	Conductor <br>	
		<small>Ruc : {{ruc}} {{nom}}</small>
	</h1>
		{% csrf_token %}
		<input type="hidden" class="empdni" value="{{user.get_profile.empdni}}">
		<div class="row show-grid">
			<div class="col-md-12">
				<div class="btn-group">
					<a href="{% url 'vista_carrier' %}" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Transportista</a>
					<a href="{% url 'vista_conductor_add' ruc %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nuevo Conductor</a>
				</div>
			</div>
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr>
								<th class="text-center">Item</th>
								<th class="text-center">DNI</th>
								<th>Nombres</th>
								<th class="text-center">Licencia</th>
								<th class="text-center">Telefono</th>
								<th class="text-center">Editar</th>
								<th class="text-center">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							{% if lista %}
							{% for x in lista %}
							<tr class="tr-{{x.condni_id}}">
								<td>{{forloop.counter}}</td>
								<td>{{x.condni_id}}</td>
								<td>{{x.connom}}</td>
								<td>{{x.conlic}}</td>
								<td>{{x.contel}}</td>
								<td class="text-center"><a href="{% url 'vista_conductor_edit' ruc x.condni_id %}" class="btn btn-xs btn-link text-black" value="{{x.nropla_id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
								<td class="text-center"><button type="Button" class="btn btn-xs btn-link text-black btn-delete-conductor" title="{{x.connom}}" value="{{x.condni_id}}"><span class="glyphicon glyphicon-trash"></span></button></td>
							</tr>
							{% endfor%}
							{% else %}
								<div class="alert alert-warning">
									<strong>Warning</strong>
									<p>No se han encontrado <q><strong>Conductor</strong></q> para mostrar. Presione el botón <q><strong>Nuevo Conductor</strong></q> para agregar.<p>
								</div>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$(".btn-delete-conductor").click(function (event) {
			event.preventDefault();
			var value = this.value;
			$().toastmessage("showToast",{
				text: "Eliminar Conductor, recuerde que al eliminar a "+this.title+" sera permanentemente.<br>Desea Eliminar al Conductor?",
				sticky: true,
				type: "confirm",
				position: "middle-center",
				buttons: [{value:'No'},{value: 'Si'}],
				success: function (result) {
					if (result == "Si") {
						var data = { "condni": value, "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val() }
						$.post("",data,function (response) {
							console.log(response);
							if (response.status) {
								if ($("table tbody > tr").length > 1 ){
									$(".tr-"+value).remove();
								}else{
									location.reload()
								}
							};
						},"json");
					};
				}
			});
		});
	});
</script>
{% endblock %}