<div class="container">
  <!-- define visibility screen -->
  <!-- screem medium and large   -->
    <div class="visible-lg visible-md">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="col-lg-4 col-md-4">
            <div class="thumbnail brand-danger">
              <span class="icon-circle">
                <span class="glyphicon glyphicon-tasks"></span>
              </span>
              <div class="caption">
                <h3>Desarrollo</h3>
                <p>
                  Module for development and manager of ORM
                  <h6><small>ACTIVO</small></h6></p>
                <p>
                <a href="/admin/" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span> Ingresar</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="thumbnail brand-warning">
              <span class="icon-circle">
                <span class="glyphicon glyphicon-tasks"></span>
              </span>
              <div class="caption">
                <h3>Almacén</h3>
                <p>
                  Modulo de Almacén, materiales y herramientas.
                  <h6><small>ACTIVO</small></h6>
                </p>
                <p>
                  <a href="/almacen/" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span> Ingresar</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="thumbnail brand-success">
              <span class="icon-circle">
                <span class="glyphicon glyphicon-tasks"></span>
              </span>
              <div class="caption">
                <h3>Logística</h3>
                <p>
                  Modulo de Logística, Cotizaciones y Compras.
                  <h6><small>ACTIVO</small></h6>
                </p>
                <p>
                  <a href="{% url 'view_logistics' %}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span> Ingresar</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="col-lg-4 col-md-4">
            <div class="thumbnail brand-info">
              <span class="icon-circle">
                <span class="glyphicon glyphicon-tasks"></span>
              </span>
              <div class="caption">
                <h3>Operaciones</h3>
                <p>
                  Modulo de Operaciones. Gestion de proyecto en ejecución.
                  <h6><small>INACTIVO</small></h6>
                </p>
                <p>
                  <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span> Ingresar</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="thumbnail brand-primary">
              <span class="icon-circle">
                <span class="glyphicon glyphicon-tasks"></span>
              </span>
              <div class="caption">
                <h3>Ventas</h3>
                <p>
                  Modulo Ventas. Gestión de proyectos, pre, durante y post venta.
                  <h6><small>INACTIVO</small></h6>
                </p>
                <p>
                  <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span> Ingresar</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="thumbnail warning">
              <span class="icon-circle">
                <span class="glyphicon glyphicon-book"></span>
              </span>
              <div class="caption">
                <h3>About</h3>
                <p>
                Copy Right 2014 <br>
                Todos los derechos reservados.
                </p>
                <p>
                  <a href="#"><span class="glyphicon glyphicon-cog"></span> Configuración</a>
                </p>
                <p>
                  <a href="{% url 'vista_logout' %}" class="btn btn-primary"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--screen small as tablets-->
    <div class="visible-sm">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
              <div class="list-group">
                <a href="/admin/" class="list-group-item brand-danger">
                  <h4 class="list-group-item-heading">
                    <span class="icon-tab"><span class="glyphicon glyphicon-tasks"></span></span> Development
                  </h4>
                  <p>
                    Module Development and manager of ORM DDBB
                    <h6><small>ACTIVO</small></h6>
                  </p>
                </a>
                <a href="{% url 'vista_storage' %}" class="list-group-item brand-warning">
                  <h4 class="list-group-item-heading">
                    <span class="icon-tab"><span class="glyphicon glyphicon-tasks"></span></span> Almacén
                  </h4>
                  <p>
                    Modulo de Almacén, materiales y herramientas.
                    <h6><small>ACTIVO</small></h6>
                  </p>
                </a>
                <a class="list-group-item brand-success">
                  <h4 class="list-group-item-heading">
                    <span class="icon-tab"><span class="glyphicon glyphicon-tasks"></span></span> Logistica
                  </h4>
                  <p>
                    Modulo de Logística, Cotizaciones y Compras.
                    <h6><small>ACTIVO</small></h6>
                  </p>
                </a>
              </div>
            </div>
            <div class="col-md-5 col-sm-5">
              <div class="list-group">
                <a class="list-group-item brand-info">
                  <h4 class="list-group-item-heading">
                    <span class="icon-tab"><span class="glyphicon glyphicon-tasks"></span></span> Operaciones
                  </h4>
                  <p>
                    Modulo de Operaciones, gestión de proyetos.
                  <h6><small>INACTIVO</small></h6>
                  </p>
                </a>
                <a class="list-group-item brand-primary">
                  <h4 class="list-group-item-heading">
                    <span class="icon-tab"><span class="glyphicon glyphicon-tasks"></span></span> Ventas
                  </h4>
                  Modulo de Ventas, Presupuesto Proyectos.
                  <h6><small>INACTIVO</small></h6>
                </a>
                <a class="list-group-item list-group-item-warning">
                  <h4 class="list-group-item-heading">
                    <span class="icon-tab"><span class="glyphicon glyphicon-book"></span></span> About
                  </h4>
                  <p>
                    Todos los derechos reservados. <br>
                    <button class="btn btn-link" onclick="javascript:location.href='';"><span class="glyphicon glyphicon-cog"></span></button class="btn btn-link">
                    <button class="btn btn-link" onclick="javascript:location.href='{% url 'vista_logout' %}';"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
                  </p>
                </a>
              </div>
            </div>
            <div class="col-md-offset-1 col-sm-offset-1"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- screen xsmall phones -->
    <div class="visible-xs">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="list-group">
            <a href="/admin/" class="list-group-item brand-danger">
              <h4 class="item-group-heading">
                <span class="icon-tab"><span class="glyphicon glyphicon-tasks"></span></span>
                Development
              </h4>
            </a>
            <a href="{% url 'vista_storage' %}" class="list-group-item brand-warning">
              <h4 class="item-group-heading">
                <span class="icon-tab"><span class="glyphicon glyphicon-tasks"></span></span>
                Almacén
              </h4>
            </a>
            <a href="#" class="list-group-item brand-success">
              <h4 class="item-group-heading">
                <span class="icon-tab"><span class="glyphicon glyphicon-tasks"></span></span>
                Logística
              </h4>
            </a>
            <a href="#" class="list-group-item brand-info">
              <h4 class="item-group-heading">
                <span class="icon-tab"><span class="glyphicon glyphicon-tasks"></span></span>
                Operaciones
              </h4>
            </a>
            <a href="#" class="list-group-item brand-primary">
              <h4 class="item-group-heading">
                <span class="icon-tab"><span class="glyphicon glyphicon-tasks"></span></span>
                Ventas
              </h4>
            </a>
            <a href="" class="list-group-item list-group-item-warning">
              <button class="btn btn-link text-black">
                <span class="icon-tab"><span class="glyphicon glyphicon-cog"></span></span>
                Config
              </button>
              <button class="btn btn-link text-black">
                <span class="icon-tab"><span class="glyphicon glyphicon-log-out"></span></span>
                Logout
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>