.header-notf {
  background-color: #323232;
  background: rgba(32,32,32,0.9);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  max-height: 80%;
  overflow-y: auto;
  padding: 10px;
  position: absolute;
  right: 10px;
  text-transform: uppercase;
  width: 180px;
}
.body-notf {
  display: inline-table;
}
.body-notf .message-notf {
  border: 2px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10%;
  width: 100%;
}
