@import 'nib'

vendors-prefixes ?= webkit moz o ms official
support-for-ie ?= true

.header-notf
  background-color #323232
  background rgba(32,32,32,.9)
  border-radius 5px
  color rgb(255,255,255)
  font-size 16px
  font-weight bold
  max-height 80%
  overflow-y auto
  padding 10px
  position absolute
  right 10px
  text-transform uppercase
  width 180px
  
.body-notf
  display inline-table
  
  .message-notf
    border 2px solid #fff
    border-radius 5px
    padding 10%
    width 100%
    