{% extends "base.html" %}
{% block title %}
    Analysis Details
{% endblock title %}
{% block menu %}
    {% include "menus/sale.htm" %}
{% endblock menu %}
{% block content %}
<div class="container">
    <div class="well">
        <h3>
            Detalle de Analisis de Precio
        </h3>
        <div class="panel panel-warning">
            <div class="panel-footer">
                <dl class="dl-horizontal">
                    <dt>Código</dt>
                    <dd>{{ analysis.analysis_id }}</dd>
                    <dt>Nombre</dt>
                    <dd>{{ analysis.name }}</dd>
                    <dt>Unidad</dt>
                    <dd>{{ analysis.unit.uninom }}</dd>
                    <dt>Rendimiento</dt>
                    <dd>
                        <span class="performance">{{ analysis.performance|safe }}</span> <span>x día.</span>
                    </dd>
                </dl>
            </div>
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="#materials" aria-controls="materials" role="tab" data-toggle="tab">MATERIALES</a>
                    </li>
                    <li role="presentation">
                        <a href="#manpower" aria-controls="manpower" role="tab" data-toggle="tab">MANO DE OBRA</a>
                    </li>
                    <li role="presentation">
                        <a href="#tools" aria-controls="tools" role="tab" data-toggle="tab">HERRAMIENTAS</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="materials">
                        <div class="panel panel-info">
                            <div class="panel-footer">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-default bshowaddmat" type="button">
                                        <span class="fa fa-plus"></span>
                                        <span>Material</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bmrefresh" type="button">
                                        <span class="fa fa-refresh"></span>
                                        <span>Actualizar</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bdelmatall" type="button">
                                        <span>+ Eliminar Todo</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bshownewmat" type="button">
                                        <span>+ Nuevo Material</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bcopymat" type="button">
                                        <span>+ Copiar Materiales</span>
                                    </button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <!-- div add materials -->
                                <div class="materialsadd">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Materiales</label>
                                                <select name="materials" id="materials" class="form-control chosen-select"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Medida</label>
                                                <select name="measure" id="" class="form-control chosen-select"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="alert alert-block alert-warning" name="summary"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="controll-label">Cantidad</label>
                                                <input type="number" name="mquantity" step="0.10" min="0" class="form-control input-sm">
                                            </div>
                                            <div class="form-group">
                                                <label class="controll-label">Precio</label>
                                                <input type="number" name="mprice" step="0.10" min="0" class="form-control input-sm">
                                            </div>
                                            <button type="button" class="btn btn-warning btn-sm btnaddmat">
                                                <span class="fa fa-plus"></span>
                                                Agregar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- List mateirals -->
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover tmaterials">
                                    <thead>
                                        <tr class="brand-warning">
                                            <th class="text-center">Item</th>
                                            <th class="text-center">Código</th>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">Und</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Precio</th>
                                            <th class="text-center">Parcial</th>
                                            <th class="text-center">Editar</th>
                                            <th class="text-center">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in materials %}
                                            <tr class="editm" data-edit="{{ x.pk }}">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ x.materials_id }}</td>
                                                <td>{{ x.materials.matnom }} - {{ x.materials.matmed }}</td>
                                                <td>{{ x.materials.unidad.uninom }}</td>
                                                <td>{{ x.quantity|safe }}</td>
                                                <td>{{ x.price|safe }}</td>
                                                <td>{{ x.partial|safe }}</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs btn-warning btn-edit-materials" value="{{ x.pk }}" data-materials="{{ x.materials_id }}" disabled>
                                                        <span class="fa fa-edit"></span>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs btn-danger btn-del-materials" value="{{ x.pk }}" data-materials="{{ x.materials_id }}">
                                                        <span class="fa fa-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="9"></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="manpower">
                        <div class="panel panel-primary">
                            <div class="panel-footer">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-default bshowaddmp" type="button">
                                        <span class="fa fa-plus"></span>
                                        <span>Mano de Obra</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bmprefresh" type="button">
                                        <span class="fa fa-refresh"></span>
                                        <span>Actualizar</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bdelmp" type="button">
                                        <span>+ Eliminar Todo</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bshownewmp" type="button">
                                        <span>+ Nuevo Mano de Obra</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bcopymp" type="button">
                                        <span>+ Copiar Mano de Obra</span>
                                    </button>
                                </div>
                                <div class="panel-body">
                                    <!-- div for add man power -->
                                    <div class="addmanpower">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">Mano de Obra</label>
                                                <select name="manpower" class="form-control input-sm"></select>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label">Cuadrilla</label>
                                                <input type="text" class="form-control input-sm" placeholder="0.00" name="mpgang">
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label">Precio</label>
                                                <input type="text" class="form-control input-sm" name="mpprice">
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label">Agregar</label>
                                                <button class="btn btn-warning btn-sm btnaddmp">
                                                    <span class="fa fa-plus"></span>
                                                    <span>Agregar</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="panel-body"></div> -->
                            <!-- List ManPower -->
                            <div class="table-responsive">
                                <table class="table table-hover table-condensed tmanpower">
                                    <thead>
                                        <tr class="brand-warning">
                                            <th class="text-center">Item</th>
                                            <th class="text-center">Código</th>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">Und</th>
                                            <th class="text-center">Cuadrilla</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Precio</th>
                                            <th class="text-center">Parcial</th>
                                            <th class="text-center">Editar</th>
                                            <th class="text-center">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in manpower %}
                                            <tr class="editmp">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ x.manpower_id }}</td>
                                                <td>{{ x.manpower.cargos }}</td>
                                                <td>{{ x.manpower.unit.uninom }}</td>
                                                <td>{{ x.gang|safe }}</td>
                                                <td>{{ x.quantity|safe }}</td>
                                                <td>{{ x.price|safe }}</td>
                                                <td>{{ x.partial|safe }}</td>
                                                <td class="text-center">
                                                    <button class="btn btn-xs btn-warning btn-edit-mp" value="{{ x.id }}" data-mp="{{ x.manpower_id }}" disabled>
                                                        <span class="fa fa-edit"></span>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs btn-del-mp" value="{{ x.id }}" data-mp="{{ x.manpower_id }}">
                                                        <span class="fa fa-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tools">
                        <div class="panel panel-info">
                            <div class="panel-footer">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-default bshowaddmat" type="button">
                                        <span class="fa fa-plus"></span>
                                        <span>Herramientas</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bmrefresh" type="button">
                                        <span class="fa fa-refresh"></span>
                                        <span>Actualizar</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bdelmat" type="button">
                                        <span>+ Eliminar Todo</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bshownewmat" type="button">
                                        <span>+ Nueva Herramienta</span>
                                    </button>
                                    <button class="btn btn-sm btn-default bcopymat" type="button">
                                        <span>+ Copiar Herramientas</span>
                                    </button>
                                </div>
                                <div class="panel-body">
                                  <!-- Add tools to list -->
                                  <div class="row addpaneltools">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label class="control-label">Herramienta</label>
                                        <select name="tools" class="form-control input-sm"></select>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="" class="control-label">Medida</label>
                                        <select name="measuret"  class="form-control input-sm"></select>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="alert alert-warning summarytools"></div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label  class="control-label">Cantidad</label>
                                        <input type="text" class="form-control input-sm" name="quantityt">
                                      </div>
                                      <div class="form-group">
                                        <label for="" class="control-label">Precio</label>
                                        <input type="text" class="form-control input-sm" name="pricet">
                                      </div>
                                      <div class="form-group">
                                        <button type="button" class="btn btn-sm btn-warning baddtools">
                                          <span class="fa fa-plus"></span>
                                          <span>Agregar</span>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!-- List Tools -->
                            <div class="table-responsive">
                                <table class="table table-hover table-condensed ttools">
                                    <thead>
                                        <tr class="brand-warning">
                                            <th class="text-center">Item</th>
                                            <th class="text-center">Código</th>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">Und</th>
                                            <th class="text-center">Cuadrilla</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Precio</th>
                                            <th class="text-center">Parcial</th>
                                            <th class="text-center">Editar</th>
                                            <th class="text-center">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="panel-body">
            </div> -->
        </div>
    </div>
</div>
{% csrf_token %}
<!-- Loads scripts -->
<script src="{{ MEDIA_URL }}js/mustache.js"></script>
<script src="{{ MEDIA_URL }}js/chosen.jquery.min.js"></script>
<script src="{{ MEDIA_URL }}js/budget/detailsAnalysis.js"></script>
<!-- Lodas styles -->
<link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen.css">
{% endblock content %}
