{% extends "basemd.html" %}
{% block title %}
  Details Budget
{% endblock title %}
{% block menu %}
  {% include "menus/budget.htm" %}
{% endblock menu %}
{% block content %}
<section data-ng-app="bidApp">
  <div class="container" data-ng-controller="bidCtrl">
    <div class="card-panel">
      <div class="card-content">
        <h3 class="card-title">Detalle de Item - Presupuesto</h3>
        {% verbatim %}
        <div class="row">
          <div class="col m6 l6">
            <p>
              <strong>Items :</strong> {{ item.fields.item | number:2 }}
            </p>
            <p>
              <strong>Descripción :</strong> {{ item.fields.name }}
            </p>
          </div>
          <div class="col m6 l6">
            <p>
              <strong>Precio Base :</strong> {{ item.fields.base }}
            </p>
            <p>
              <strong>Precio Oferta :</strong> {{ item.fields.offer }}
            </p>
          </div>
        </div>
        {% endverbatim %}
      </div>
    </div>
    <!-- tool bar -->
    <div class="card">
      <div class="card-content">
        <button type="button" class="btn">
          <i class="fa fa-file"></i>
          <span>Nuevo</span>
        </button>
      </div>
    </div>
    <div class="card hoverable">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          {% verbatim %}
            <tr data-ng-repeat="x in analysis">
              <td>{{x.$index}}</td>
              <td>{{x.name}}</td>
            </tr>
          {% endverbatim %}
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- scripts -->
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angularjs/angular.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/budget/budgetdetails.js"></script>
{% endblock content %}