{% extends "basemd.html" %}
{% block title %}
  Details Budget
{% endblock title %}
{% block menu %}
  {% include "menus/budget.htm" %}
{% endblock menu %}
{% block content %}
<section data-ng-app="bidApp">
  <div class="container" data-ng-controller="bidCtrl">
    <div class="card-panel">
      <div class="card-content">
        <h3 class="card-title">Detalle de Item - Presupuesto</h3>
        {% verbatim %}
        <div class="row">
          <div class="col m6 l6">
            <p>
              <strong>Items :</strong> {{ item.fields.item | number:2 }}
            </p>
            <p>
              <strong>Descripción :</strong> {{ item.fields.name }}
            </p>
          </div>
          <div class="col m6 l6">
            <p>
              <strong>Precio Base :</strong> {{ item.fields.base }}
            </p>
            <p>
              <strong>Precio Oferta :</strong> {{ item.fields.offer }}
            </p>
          </div>
        </div>
        {% endverbatim %}
      </div>
    </div>
    <!-- tool bar -->
    <div class="card">
      <div class="card-content">
        <a href="#manalysis" class="btn modal-trigger waves-effect">
          <i class="fa fa-file"></i>
          <span>Nuevo</span>
        </a>
        <button type="button" class="btn waves-effect">
          <i class="fa fa-refresh"></i>
          <span>Actualizar</span>
        </button>
      </div>
    </div>
    <div class="modal bottom-sheet" id="manalysis">
      <div class="modal-content">
        <strong class="card-title">
          Busqueda de Analisis de Precio
        </strong>
        <div class="row">
          <div class="col l8 m8 s12">
            <div class="input-field">
              <i class="fa fa-angle-right prefix"></i>
              <input type="text" name="APDesc" data-ng-keyup="searchAnalysis($event)">
              <label for="">Descripción o Nombre Analisis de Precio</label>
            </div>
          </div>
          <div class="col l4 m4 s12">
            <div class="input-field">
              <i class="fa fa-angle-right prefix"></i>
              <input type="text" name="APCode" data-ng-keyup="searchAnalysis($event)">
              <label>Código Analisis</label>
            </div>
          </div>
          <div class="col l12">
            <table class="responsive-table">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Descripción</th>
                  <th>Unidad</th>
                  <th>Rendimiento</th>
                  <th>Importe</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% verbatim %}
                  <tr data-ng-repeat="x in listAnalysis">
                    <td>{{x.$index}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.unit}}</td>
                    <td>{{x.performance}}</td>
                    <td>{{x.amount}}</td>
                    <td>OK</td>
                  </tr>
                {% endverbatim %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card hoverable">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Descripción</th>
            <th>Unidad</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Importe</th>
          </tr>
        </thead>
        <tbody>
          {% verbatim %}
            <tr data-ng-repeat="x in analysis">
              <td>{{x.$index}}</td>
              <td>{{x.name}}</td>
              <td></td>
            </tr>
          {% endverbatim %}
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- scripts -->
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angularjs/angular.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/budget/budgetdetails.js"></script>
{% endblock content %}