{% extends "basemd.html" %}
{% block menu %}
  {% include "menus/budget.htm" %}
{% endblock menu %}
{% block content %}
<div class="container">
  <div class="well">
    <header>
      <h3>Presupuestos</h3>
    </header>
    <section>
      <div class="card">
        <div class="card-content">
          <button class="btn waves-effect" type="button" name="showBudget">
            Nuevo
          </button>
          <bnt class="btn waves-effect" type="button" name="bsearchbudget">
            Buscar
          </bnt>
        </div>
      </div>
      <!-- <div class="panel panel-primary panel-budgets">
        <div class="panel-heading">
          <nav class="btn-group">
            <button class="btn btn-sm btn-default" type="button" name="showBudget">
              <span class="fa fa-file"></span>
              <span class="fa-class">Nuevo</span>
            </button>
            <button class="btn btn-sm btn-default bsearchbudget">
              <span class="fa fa-search"></span>
              <span class="fa-class">Buscar</span>
            </button>
            <button class="btn btn-sm btn-default">
              <span class="fa fa-print"></span>
              <span class="fa-class">Vista</span>
            </button>
          </nav>
        </div> -->
        <div class="panel-footer panel-sbudget">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="" class="control-label">Código</label>
                <input type="text" class="form-control input-sm" placeholder="PROPAA0000">
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <label for="" class="control-label">Nombre</label>
                <input type="text" class="form-control input-sm" placeholder="Descripción">
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="" class="control-label">Buscar</label>
                <button class="btn btn-sm btn-warning">
                  <span class="fa fa-search"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-condensed table-hover table-bordered">
            <thead>
              <tr class="brand-danger">
                <th class="col-2 text-center">Item</th>
                <th class="col-3 text-center">Código</th>
                <th>Nombre/Descripción</th>
                <th class="col-2 text-center">Registrado</th>
                <th class="col-2 text-center">Estado</th>
                <th class="col-3 text-center">Acción</th>
              </tr>
            </thead>
            <tbody>
              {% for x in budget %}
                <tr>
                  <td class="text-center">{{ forloop.counter }}</td>
                  <td class="text-center">{{ x.budget_id }}</td>
                  <td>{{ x.name }}</td>
                  <td class="text-center">{{ x.register|date:"d/m/Y" }}</td>
                  <td class="text-center">{{ x.status }}</td>
                  <td class="text-center">
                    <div class="dropdown">
                      <button class="btn btn-danger dropdown-toggle btn-xs" type="button" data-toggle="dropdown" aria-expanded="true">
                        <span class="fa fa-cogs"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a href="#" role="menuitem" class="text-left btn-xs showbudgetdetails" data-value="{{ x.budget_id }}" tabindex="-1"><span class="fa fa-list-alt"></span> Detalle</a></li>
                        <li class="divider" style="margin: 0;"></li>
                        <li role="presentation"><a href="#" role="menuitem" class="text-left btn-xs showbudgetedit" data-value="{{ x.budget_id }}" tabindex="-1"><span class="fa fa-edit"></span> Editar</a></li>
                        <li role="presentation"><a href="#" role="menuitem" class="text-left btn-xs budgetdelete" data-value="{{ x.budget_id }}" tabindex="-1"><span class="fa fa-trash"></span> Eliminar</a></li>
                        <li class="divider" style="margin: 0;"></li>
                        <li role="presentation"><a href="#" role="menuitem" class="text-left btn-xs budgetcopy" data-value="{{ x.budget_id }}" tabindex="-1"><span class="fa fa-copy"></span> Copiar</a></li>
                        <li role="presentation"><a href="#" role="menuitem" class="text-left btn-xs bdugetrevision" data-value="{{ x.budget_id }}" tabindex="-1"><span class="fa fa-tasks"></span> Revision</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <div class="panel panel-danger panel-details-budget">
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12">
              <strong>Presupuesto</strong>
            </div>
            <div class="col-md-6">
              <dl class="dl-horizontal colone">
                <dt>Presupuesto</dt>
                <dd></dd>
                <dt>Cliente</dt>
                <dd></dd>
                <dt>Dirección</dt>
                <dd></dd>
                <dt>Observación</dt>
                <dd></dd>
              </dl>
            </div>
            <div class="col-md-6">
              <dl class="dl-horizontal coltwo">
                <dt>Registrado</dt>
                <dd></dd>
                <dt>Jornada Diaria</dt>
                <dd></dd>
                <dt>F. Entrega</dt>
                <dd></dd>
                <dt>Moneda</dt>
                <dd></dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="panel-heading">
          <nav class="btn-group">
            <button class="btn btn-xs btn-default">
              <span class="fa fa-file"></span>
              <span class="fa-class">Nuevo</span>
            </button>
            <button class="btn btn-xs btn-default">
              <span class="fa fa-refresh"></span>
              <span class="fa-class">Actualizar</span>
            </button>
            <button class="btn btn-xs btn-default">
              <span class="fa fa-trash"></span>
              <span class="fa-class">Eliminar Todo</span>
            </button>
            <!-- <button class="btn btn-xs btn-default">
              <span class="fa fa-copy"></span>
              <span class="fa-class">Copiar</span>
            </button> -->
          </nav>
        </div>
        <div class="table-responsive">
          <table class="table table-condensed table-hover table-bordered">
            <thead>
              <tr class="brand-danger">
                <th class="col-2 text-center">Item</th>
                <th>Descripción</th>
                <th class="col-3 text-center">Base</th>
                <th class="col-3 text-center">Oferta</th>
                <th class="col-2 text-center">Acción</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- block modals -->
<div class="modal fade" id="nbudget" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form action="#" method="post" id="newBudget">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h4 class="modal-title">Presupuesto</h4>
        <div class="row">
          <div class="col-md-12">
            <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">
              <span class="fa fa-save"></span>
              <span class="fa-class">Salir</span>
            </button>
            <button type="submit" name="saveBudget" class="btn btn-primary btn-sm pull-right">
              <span class="fa fa-save"></span>
              <span class="fa-class">Guardar Cambios</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-primary">
                <label for="" class="control-label">Nombre Presupuesto</label>
                <input type="text" name="name" id="name" data-validation="required" placeholder="Ingrese Nombre y/o descripción del presupuesto" data-validation-error-msg="Ingrese una Descripción" class="form-control input-sm">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-primary">
                <label for="" class="control-label">Razón Social Cliente</label>
                <select name="customers" id="customers" data-validation="required" data-validation-error-msg="Seleccione un Cliente" class="form-control input-sm">
                  {% for x in customer %}
                    <option value="{{ x.ruccliente_id }}">{{ x.razonsocial }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-primary">
                <label for="" class="control-label">Dirección</label>
                <input type="text" class="form-control input-sm" name="address" placeholder="Ingrese la dirección donde se ejecutara el proyecto" data-validation="required" data-validation-error-msg="Ingrese una Dirección">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group has-primary">
                <label for="" class="control-label">Pais</label>
                <select name="pais" class="form-control input-sm" data-validation="required">
                  {% for x in country %}
                    <option value="{{ x.pais_id }}">{{ x.paisnom }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group has-primary">
                <label for="" class="control-label">Departamento</label>
                <select name="departamento" class="form-control input-sm" data-validation="required"></select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group has-primary">
                <label for="" class="control-label">Provincia</label>
                <select name="provincia" class="form-control input-sm" data-validation="required"></select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group has-primary">
                <label for="" class="control-label">Distrito</label>
                <select name="distrito" id="" class="form-control input-sm" data-validation="required"></select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group has-primary">
                <label for="" class="control-label">Jornada Diaria</label>
                <input type="number" min="1" max="24" name="hours" value="8" class="form-control input-sm" data-validation="required" data-validataion-error-msg="Ingrese la Jornada Diaria en horas.">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group has-primary">
                <label for="" class="control-label">Plazo</label>
                <input type="text" placeholder="aaaa/mm/dd" name="finish" class="form-control input-sm" name="finish" data-validation="required" data-validation-error-msg="Plazo estimado del proyecto.">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group has-primary">
                <label for="" class="control-label ">Precio Base</label>
                <input type="text" class="form-control input-sm" value="0" name="base">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group has-primary">
                <label for="" class="control-label ">Precio Oferta</label>
                <input type="text" class="form-control input-sm" value="0" name="offer">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-primary">
                <label for="" class="control-label">Moneda</label>
                <select name="currency" id="" class="form-control input-sm" data-validation="required" data-validation-error-msg="Debe de seleccionar una moneda.">
                  {% for x in currency %}
                    <option value="{{ x.moneda_id }}">{{ x.moneda }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group has-primary">
                <label for="" class="control-label">T. Cambio</label>
                <input name="exchange" id="" class="form-control input-sm" value="0" placeholder="0.0">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group has-primary">
                <label for="" class="control-label">Observación</label>
                <textarea name="observation" class="form-control" rows="4"></textarea>
              </div>
            </div>
          </div>
      </div>
    </div>
  </form>
  </div>
</div>
<!-- utils for page -->
<input type="hidden" name="budget">
{% csrf_token %}
<!-- import scripts -->
<script src="{{ MEDIA_URL }}js/mustache.js"></script>
<script src="{{ MEDIA_URL }}js/tinymce.js"></script>
<script src="{{ MEDIA_URL }}js/form-validator.min.js"></script>
<script src="{{ MEDIA_URL }}js/getCountry.js"></script>
<script src="{{ MEDIA_URL }}js/budget/budget.js"></script>
{% endblock content %}
