{% extends "basemd.html" %}
{% block menu %}
  {% include "menus/budget.htm" %}
{% endblock menu %}
{% block content %}
<div class="container" ng-app="BudgetApp">
  <header>
    <h3>Presupuestos</h3>
  </header>
  <section ng-controller="BudgetCtrl">
    <div class="card">
      <div class="card-action">
        <button class="btn waves-effect" type="button" name="showBudget">
          Nuevo
        </button>
        <button class="btn waves-effect" type="button" ng-model="ssearch" ng-click="ssearch =! ssearch">
          Buscar
        </button>
      </div>
    </div>
    <div class="card panel-sbudget blue-grey lighten-5" ng-show="ssearch">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m3 l3">
            <div class="input-field">
              <label>Código PROPAA0000</label>
              <input type="text" class="" maxlength="11">
            </div>
          </div>
          <div class="col s12 m9 l9">
            <div class="input-field">
              <label>Nombre Presupuesto</label>
              <input type="text" class="">
            </div>
          </div>
          <div class="col s12 m1 l1">
            <label class="black-text">Buscar</label>
            <button class="btn btn-sm light-green darken-1">
              <span class="fa fa-search"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-hover table-bordered">
        <thead>
          <tr class="brand-danger">
            <th class="col-2 text-center">Item</th>
            <th class="col-3 text-center">Código</th>
            <th>Nombre/Descripción</th>
            <th class="col-2 text-center">Registrado</th>
            <th class="col-2 text-center">Estado</th>
            <th class="col-3 text-center">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for x in budget %}
            <tr>
              <td class="text-center">{{ forloop.counter }}</td>
              <td class="text-center">{{ x.budget_id }}</td>
              <td>{{ x.name }}</td>
              <td class="text-center">{{ x.register|date:"d/m/Y" }}</td>
              <td class="text-center">{{ x.status }}</td>
              <td class="text-center">
                <div class="dropdown">
                  <button class="btn btn-danger dropdown-toggle btn-xs" type="button" data-toggle="dropdown" aria-expanded="true">
                    <span class="fa fa-cogs"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                      <a href="#" role="menuitem" class="text-left btn-xs showbudgetdetails" data-value="{{ x.budget_id }}" tabindex="-1"><span class="fa fa-list-alt"></span> Detalle</a>
                    </li>
                    <li class="divider" style="margin: 0;"></li>
                    <li role="presentation">
                      <a href="#" role="menuitem" class="text-left btn-xs showbudgetedit" data-value="{{ x.budget_id }}" tabindex="-1"><span class="fa fa-edit"></span> Editar</a>
                    </li>
                    <li role="presentation">
                      <a href="#" role="menuitem" class="text-left btn-xs budgetdelete" data-value="{{ x.budget_id }}" tabindex="-1"><span class="fa fa-trash"></span> Eliminar</a>
                    </li>
                    <li class="divider" style="margin: 0;"></li>
                    <li role="presentation">
                      <a href="#" role="menuitem" class="text-left btn-xs budgetcopy" data-value="{{ x.budget_id }}" tabindex="-1"><span class="fa fa-copy"></span> Copiar</a>
                    </li>
                    <li role="presentation">
                      <a href="#" role="menuitem" class="text-left btn-xs bdugetrevision" data-value="{{ x.budget_id }}" tabindex="-1"><span class="fa fa-tasks"></span> Revision</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="panel panel-danger" ng-show="bgdetails">
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <strong>Presupuesto</strong>
          </div>
          <div class="col-md-6">
            <dl class="dl-horizontal colone">
              <dt>Presupuesto</dt>
              <dd></dd>
              <dt>Cliente</dt>
              <dd></dd>
              <dt>Dirección</dt>
              <dd></dd>
              <dt>Observación</dt>
              <dd></dd>
            </dl>
          </div>
          <div class="col-md-6">
            <dl class="dl-horizontal coltwo">
              <dt>Registrado</dt>
              <dd></dd>
              <dt>Jornada Diaria</dt>
              <dd></dd>
              <dt>F. Entrega</dt>
              <dd></dd>
              <dt>Moneda</dt>
              <dd></dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="panel-heading">
        <nav class="btn-group">
          <button class="btn btn-xs btn-default">
            <span class="fa fa-file"></span>
            <span class="fa-class">Nuevo</span>
          </button>
          <button class="btn btn-xs btn-default">
            <span class="fa fa-refresh"></span>
            <span class="fa-class">Actualizar</span>
          </button>
          <button class="btn btn-xs btn-default">
            <span class="fa fa-trash"></span>
            <span class="fa-class">Eliminar Todo</span>
          </button>
          <!-- <button class="btn btn-xs btn-default">
            <span class="fa fa-copy"></span>
            <span class="fa-class">Copiar</span>
          </button> -->
        </nav>
      </div>
      <div class="table-responsive">
        <table class="table table-condensed table-hover table-bordered">
          <thead>
            <tr class="brand-danger">
              <th class="col-2 text-center">Item</th>
              <th>Descripción</th>
              <th class="col-3 text-center">Base</th>
              <th class="col-3 text-center">Oferta</th>
              <th class="col-2 text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
<!-- block modals -->
<div class="modal bottom-sheet" id="nbudget">
  <div class="modal-content">
    <form action="#" method="post" id="newBudget">
      <div class="modal-content">
        <h4 class="modal-title">Presupuesto</h4>
        <div class="row">
          <div class="col s12">
            <button type="button" class="btn grey lighten-4 modal-close black-text">
              <span class="fa fa-times"></span>
              <span class="fa-class">Salir</span>
            </button>
            <button type="submit" name="saveBudget" class="btn right light-blue darken-3">
              <span class="fa fa-save"></span>
              <span class="fa-class">Guardar Cambios</span>
            </button>
          </div>
          <div class="col s12 m12 l12">
            <hr>
          </div>
        <!-- </div>
        <div class="row"> -->
          <div class="col s12 m6 l6">
            <div class="input-field">
              <input type="text" name="name" id="name" data-validation="required" placeholder="Ingrese Nombre y/o descripción del presupuesto" data-validation-error-msg="Ingrese una Descripción" class="form-control input-sm">
              <label class="black-text">Nombre Presupuesto</label>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div class="input-field">
              <select name="customers" id="customers" data-validation="required" data-validation-error-msg="Seleccione un Cliente">
                {% for x in customer %}
                  <option value="{{ x.ruccliente_id }}" class="grey-text">{{ x.razonsocial }}</option>
                {% endfor %}
              </select>
              <label class="black-text">Razón Social Cliente</label>
            </div>
          </div>
          <div class="col s12 m12 l12">
            <div class="input-field">
              <input type="text" class="form-control input-sm" name="address" placeholder="Ingrese la dirección donde se ejecutara el proyecto" data-validation="required" data-validation-error-msg="Ingrese una Dirección">
              <label class="black-text">Dirección</label>
            </div>
          </div>
          <div class="col s12 m3 l3">
            <label class="black-text">Pais</label>
            <select name="pais" class="browser-default" data-validation="required"></select>
          </div>
          <div class="col s12 m3 l3">
            <label class="black-text">Departamento</label>
            <select name="departamento" class="browser-default" placeholder="Departamento" data-validation="required"></select>
          </div>
          <div class="col s12 m3 l3">
            <label class="black-text">Provincia</label>
            <select name="provincia" class="browser-default" placeholder="Provincia" data-validation="required"></select>
          </div>
          <div class="col s12 m3 l3">
            <label class="black-text">Distrito</label>
            <select name="distrito" class="browser-default" placeholder="Distrito" data-validation="required"></select>
          </div>
          <div class="col s12 m4 l2">
            <div class="input-field">
              <input type="number" min="1" max="24" name="hours" value="8" data-validation="required" data-validataion-error-msg="Ingrese la Jornada Diaria en horas.">
              <label class="black-text">Jornada Diaria</label>
            </div>
          </div>
          <div class="col s12 m4 l2">
            <div class="input-field">
              <input type="text" placeholder="dd-mm-yyyy" name="finish" data-validation="required" data-validation-error-msg="Plazo estimado del proyecto.">
              <label class="black-text">Plazo</label>
            </div>
          </div>
          <div class="col s12 m4 l2">
            <div class="input-field">
              <input type="text" value="0" name="base">
              <label class="black-text">Precio Base</label>
            </div>
          </div>
          <div class="col s12 m4 l2">
            <div class="input-field">
              <input type="text" class="form-control input-sm" value="0" name="offer">
              <label class="black-text">Precio Oferta</label>
            </div>
          </div>
          <div class="col s12 m4 l2">
            <div class="input-field">
              <select name="currency" id="" class="validate" data-validation="required" data-validation-error-msg="Debe de seleccionar una moneda.">
                {% for x in currency %}
                  <option value="{{ x.moneda_id }}">{{ x.moneda }}</option>
                {% endfor %}
              </select>
              <label class="black-text">Moneda</label>
            </div>
          </div>
          <div class="col s12 m4 l2">
            <div class="input-field">
              <input type="text" name="exchange" class="validate" value="0" placeholder="0.0">
              <label class="black-text">T. Cambio</label>
            </div>
          </div>
          <div class="col s12 m12 l12">
            <label class="black-text">Observación</label>
            <div class="input-field">
              <textarea name="observation" class="materialize-textarea" rows="4"></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- utils for page -->
<input type="hidden" name="budget">
{% csrf_token %}
<!-- import scripts -->
<script src="{{ MEDIA_URL }}js/mustache.js"></script>
<script src="{{ MEDIA_URL }}js/tinymce.js"></script>
<script src="{{ MEDIA_URL }}js/form-validator.min.js"></script>
<script src="{{ MEDIA_URL }}js/getCountry.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vendor/angularjs/angular.min.js"></script>
<script src="{{ MEDIA_URL }}js/budget/budget.js"></script>
{% endblock content %}
