vendor_prefixes ?= webkit moz o ms official

@import 'nib'

.dropdown-menu
  & > li
    & > button, a
      margin-left 5px
      text-align left
    & > a
      margin-left -9px

.all-sectors
  & > article
    border 1px solid #428bca
    border-radius 5px
    box-shadow 0 1px 2px rgba(0, 0, 0, .05)
    float left
    width 23%
    background #FFF
    margin 10px 1%
    padding 1%
    text-align center
    & > a
      text-decoration none

.sectors
  display inline-block
  margin 0
  padding 0
  list-style-type none
  li
    a
      display inline-table
      font-size 12px
      padding 1% 1%
      text-decoration none

@media all and (max-width:900px)
  .all-sectors > article
    width 48%

@media screen and (max-height:765px)
  .panel-manager
    height 30em
          overflow auto
        648px
  .panel-manager
    display inline-table
    height 100%
    overflow auto
@media screen and (min-height: 960px)
  .panel-manager
    height 50em
    overflow auto
  .upfile::-webkit-file-upload-button
      visibility hidden

.upfile
  content 'Select'
  color #fff
  background #428bca
  border 1px solid #2b669a
  border-radius 5px
  cursor pointer
  &::before
    content 'Seleccione'
    display inline-block

.poids
  width 90px
  max-width 100%

/* progress bar step */

.height-content
  & > div
    height 95px
    overflow-y auto

.progress-project
  width 100%
  /*margin 20px auto*/
  text-align center

  .circle,
  .bar
    background #fff
    border 1px solid #d5d5da
    border-radius 40px
    display block
    height 40px
    width 40px
    & .label
      border-radius 32px
      box-shadow 0 0 2px #000
      color #2d2d2d //#b5b5ba
      display inline-block
      font-size 17px
      height 32px
      line-height 25px
      margin-top 3px
      //vertical-align 32px
      width 32px
    & .title
      color black
      font-size 13px
      position relative
      top -25px
      margin-left 42px
  & .done
    background #888
    & .label
      color #fff
      background #81ce97
      box-shadow inset 0 0 2px rgba(0,0,0,1)
  & .bar
    border-top none
    border-bottom none
    border-radius 0
    height 80px
    margin-left 16px
    margin-right 0
    margin-top -2px
    margin-bottom -2px
    position relative
    /*top -33px*/
    width 6px
  & .active
    background #999
    //background linear-gradient(to bottom, #bbb 40%, #fff 60%)
.step-one,
.step-two,
.step-three,
.step-four,
.step-five
  display none
  & > p
    & > button, input
      display inline

.btn-circle
  background #fff
  border 1px solid #eee
  border-radius 50%
  margin-top 1px
  &:hover
    background #eee
    box-shadow 0 0 2px rgba(0,0,0,.5)
